
<div class="container-fluid p-5">


    <div class="row">
        <div class="col-sm-7">
             <div class="container-fluid">

                      <div class="row mt-1">
                        <div *ngIf="!editRender.title" class="media float-left mt-1 col-sm-12 col-md-12 form-material to-hover center-box">

                                <div class="img-container">
                                        <img  [src]="project.logo?.url" default="../../../assets/images/project-icon.png" class="project-icon mr-2"/>
                    
                                        <div class="overlay  project-icon"  (click)="logoInput.click()" > 
                                            <span> <i class="fa fa-photo"></i> </span>  
                                            <input hidden type="file" #logoInput (change)="uploadLogo($event.target.files)">
                                        </div>  
                                </div>
                 
                       
                            <div class="media-body self-center pl-2">
                                <div class="d-flex justify-content-between">
                                    <a class="project-title mt-0">{{project.name}}</a>
                                    <button  *ngIf="project.canEdit" class="btn btn-edit btn-circle to-show" type="button" (click)="editRender.title=true"><i class="fa fa-pencil"></i></button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!!editRender.title" class="media float-left mt-1 col-sm-12 col-md-12 form-material to-hover center-box">
                            <img [src]="project.logo?.url" default="../../../assets/images/project-icon.png" class="project-icon mr-2" alt="...">
                            <div class="media-body self-center pl-2">
                                <div class="d-flex flex-row">
                                    <input type="text" [(ngModel)]="project.name" class="form-control form-control-line">
                                    <button class="btn btn-edit btn-circle" type="button" (click)="updateProject()" ><i class="fa fa-check"></i></button>
                                    <button class="btn btn-edit btn-circle" type="button" (click)="editRender.title=false" ><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                      </div>

                      <div class="row mt-3">
                         <div class="col-sm-12">
                            <div class="d-flex justify-content-between">
                                <span class="project-section-title">Abstract</span>
                                <button *ngIf="project.canEdit" class="btn btn-edit btn-circle" type="button" (click)="editRender.shortDescription=true"><i class="fa fa-pencil"></i></button>
                            </div>
                   
                          <div class="card-text" *ngIf="!editRender.shortDescription" [innerHTML]="project.shortDescription"></div>

                          <div *ngIf="!!editRender.shortDescription">
                              <ckeditor [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                                    [editor]="Editor" [(ngModel)]="project.shortDescription" >
                              </ckeditor>
                              
                              <div class="d-flex flex-row-reverse editor-footer">
                                  <button class="btn btn-primary m-1" (click)="updateProject()" type="button"> Save </button>
                                  <button class="btn btn-default m-1"  (click)="editRender.shortDescription=false"  type="button"> Cancel </button>
                              </div>
                              <div *ngIf="errorEdit" class="text-danger mt-3">{{errorEdit}}</div>
                          </div>
                          <div class="d-flex flex-row bd-highlight">
                            <div class="flex-fill bd-highlight">
                              <span class="project-section-title">Technologies</span><br>
                              <div class="container">
                                <div class="row">
                                  <a *ngFor="let keyword of project.keywords" class="btn keywords">{{keyword}}</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-3">
                          <div class="col-sm-12">
                              <div class="d-flex justify-content-between border-bottom-grey">
                                  <span class="align-self-center project-section-title">Attachement</span>
                                  <div *ngIf="!!project.canEdit" class="action-btn" (click)="fileInput.click()"> 
                                     <i class="fa fa-plus-square fa-1-3"></i>
                                    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
                                  </div>
                              </div>

                       
                             <div  class="mt-1" *ngFor="let attachment of project.attachments">
                                <div class="d-flex justify-content-start">
                                    <a class="file-link" (click)="download(attachment.key, attachment.fileName, attachment.contentType)">{{ attachment.fileName }} </a>
                                    <button *ngIf="!!project.canEdit" class="ml-2 btn app-primary btn-circle-s btn-outline" (click)="deleteAttachment(attachment.key)" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div> 
                             </div>
                             <div class="no-attachement" *ngIf="project.attachments?.length==0">No Attachement</div>

                          
                           </div>
                      </div>

                      <!--div *ngIf="project.canEdit" class="row mt-5">
                          <div class="col-sm-12">
                            <div class="d-flex justify-content-around align-self-center align-center">

                                <div class="align-self-center align-center">
                                    <span class="align-self-center p-1" ><i class="fa fa-cubes mr-2 fa-4"></i></span>
                                    <span class="align-self-center">5/8</span>
                                </div>
                                <div class="summary-separtor p-3" ></div>
                                <div class="align-self-center align-center">
                                    <span class="align-self-center p-1" ><i class="fa fa-bullseye mr-2 fa-4"></i></span>
                                    <span class="align-self-center">7/18</span>
                                </div>
                                <div class="summary-separtor p-3" ></div>
                                <div class="align-self-center align-center">
                                    <span class="align-self-center p-1 " ><i class="fa fa-tasks mr-2 fa-4"></i></span>
                                    <span class="align-self-center ">25/128</span>
                                </div>
                            </div>
                          </div>

                      </div-->
 
             </div>
        </div>
        <div class="col-sm-5">

            <div  *ngIf="!!applyRender.showApply" class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-start">
                            <button class="btn action-bg-color mr-2" (click)="apply()" type="button">
                              Apply
                              </button>
                        </div>
            </div>

            <div  *ngIf="!!project.canDelete" class="row mb-3">
                <div class="col-md-12 d-flex justify-content-start">
                    <button class="btn action-bg-color mr-2" (click)="delete()" type="button">
                      Delete
                      </button>
                </div>
            </div>

            <div  *ngIf="!!applyRender.showAlreadyApplied" class="row">
                    <div class="col-sm-12 text-success"> You expressed your interest to be part of this project </div>  
           </div>

            <div *ngIf="actions.length > 0" class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-start">
                        <button class="btn action-bg-color mr-2" *ngFor="let action of actions" (click)="changeStatus(action.code)" type="button">
                          {{action.label}} 
                          </button>
                    </div>
            </div>

       

            

            <div class="row">
                <div *ngIf="error" class="col-sm-12 text-danger"> {{error}} </div>  
              </div>

            <div *ngIf="currentUser.shouldSign()" class="row mt-1">
              <div class="col-md-12">
                <span class="text-danger"> Please confirm your subscription to this project: <a class="sign-b" (click)="sign()"> Sign</a></span>
               
              </div>
            </div>
                    
             <div class="container-fluid  project-right-side proposal p-3">
                          <div class="row ">
                              <div class="col-md-6 d-flex justify-content-start">
                                  <div  class="project-section-title align-self-center wf-70"> MODULE:</div>
                                  <span class="align-self-center value-color">  <i class="fa fa-building"></i> {{project.department?.name}} </span>
                              </div>
                              <div class="col-md-6 d-flex justify-content-start">
                                  <div  class="project-section-title align-self-center wf-70"> AUTHOR:</div>
                                  <div class="d-flex">
                                      <img [src]="project.creator?.imageId" default="../../../assets/images/person-icon.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                                      <a class="align-self-center value-no-color"> {{project.creator?.firstName}} {{project.creator?.lastName}}</a>
                                  </div>
                              </div>
                             
                          </div>
                          <div class="row mt-1">
                              
                              <div class="col-md-12 d-flex justify-content-start">
                                  <div  class="project-section-title align-self-center wf-70"> STATUS:</div>
                                  <span class="align-self-center value-color" style="text-transform: uppercase;">  <i class="fa fa-circle"></i> {{project.status}} </span>
                              </div>
                          
                          </div>
                          <div class="row mt-3">
  
                              <div class="col-md-6 d-flex justify-content-start">
                                  <div  class="project-section-title align-self-center wf-70"> DURATION:</div>
                                  <span class="align-self-center value-simple">  {{project.diff?.months}} MONTHS </span>
                              </div>
                              <div class="col-md-6 d-flex">
                                  <div  class="project-section-title align-self-center wf-70"> DATE:</div>
                                  <span class="align-self-center value-simple"> <i class="fa fa-calendar"></i> {{project.startDate  | date:'dd.MM.yyyy'}} -  {{project.endDate  | date:'dd.MM.yyyy'}} </span>
                              </div>
                          </div>
                          <div class="row mt-2  p-2">
                              <div class="progress col-md-12">
                                  <div class="progress-bar" role="progressbar" [style.width.%]="project.progress"  aria-valuenow="project.progress" aria-valuemin="0" aria-valuemax="100">{{project.progress}}%</div>
                              </div>
                          </div>
                          <div class="row p-3">
                              <div class="col-sm-12 border-bottom-color">
                                  <span class="section-header">Supervisors</span>
                              </div> 
                           </div>
                           <div class="row" *ngFor="let member of project.members; first as isFirst">
                     
                              <div class="col-md-12 mt-1 align-center self-center">   
                                  <div *ngIf="!member.personId" class="d-flex justify-content-between">
                                      <div class="project-section-title align-self-center"> {{member.termName}}: </div>
                                      <a  *ngIf="canAssign || (isFirst && canAssignFirstSupervisor())" class="align-self-center button-sm-color" (click)="openAssignPersonsDialog(member)"> Assign </a>
                                  </div>
                                  <div *ngIf="!!member.personId" class="d-flex justify-content-between">
                                      <div class="project-section-title  pr-2 align-self-center"> {{member.termName}}: </div>
                                      <div class="d-flex justify-content-between person-back-color  align-self-center  w-50">
                                          <div  class="align-self-center d-flex justify-content-start align-self-center" >
                                              <img  [src]="member.imageId" default="../../../assets/images/person-icon.jpg" class="img-circle img-bordered-tm mr-2" alt="...">
                                               <span class="mr-2 align-self-center">  
                                                  <i class="fa fa-check-circle fa-s" [class.signed]="member.signed"></i>  {{member.lastName}}  {{member.firstName}}
                                                </span>   
                                          </div>
                                          <i *ngIf="canAssign" class="fa fa-close fa-r" (click)="unAssignSupervisor(member)"></i>
                                      </div>
                                  </div>
                               </div>
                           </div>
    
                           <div class="row p-3 pt-2">
                              <div class="col-sm-12 border-bottom-color">
                                  <div class="d-flex justify-content-between">
                                      <span class="section-header">Teams</span>
                                      <span  *ngIf="canAssign" class="align-self-center action-sm-color " (click)="openAssignTeamDialog()"> Add Member <i class="fa fa-plus"></i> </span>
                                  
                                  </div>
                              </div> 
                           </div>
                           <div class="row" >
                              <div class="col-md-6 mt-1" *ngFor="let member of project.team"> 
                                  <div class="d-flex justify-content-between person-back-color  align-self-center ">
                                      <div  class="align-self-center d-flex justify-content-start align-self-center" >
                                          <img  [src]="member.imageId" default="../../../assets/images/person-icon.jpg" class="img-circle img-bordered-tm mr-2" alt="...">
                                           <span class="mr-2 align-self-center">  
                                              <i class="fa fa-check-circle fa-s" [class.signed]="member.signed"></i>  {{member.lastName}}  {{member.firstName}}
                                            </span>   
                                      </div>
                                      <i  *ngIf="canAssign" class="fa fa-close fa-r" (click)="unAssignTeam(member)"></i>
                                  </div>  
                             </div>
                           </div>
             </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <ngb-tabset class="tab-custom">
                <ngb-tab>
                    <ng-template ngbTabTitle><i class="fa fa-list"></i> Description</ng-template>
                    <ng-template ngbTabContent>
                        <div class="d-flex flex-row-reverse pt-3">
                            <button  *ngIf="project.canEdit" class="btn btn-edit btn-circle" type="button" (click)="editRender.description=true"><i class="fa fa-pencil"></i></button>
                        </div>
                      <div *ngIf="!editRender.description" [innerHTML]="project.description"></div>
                      <div *ngIf="!!editRender.description">
                          <ckeditor [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                                [editor]="Editor" [(ngModel)]="project.description" >
                          </ckeditor>
                          <div class="d-flex flex-row-reverse editor-footer">
                              <button class="btn btn-primary m-1" (click)="updateProject()" type="button"> Save </button>
                              <button class="btn btn-default m-1"  (click)="editRender.description=false"  type="button"> Cancel </button>
                          </div>
                          <div *ngIf="errorEdit" class="text-danger mt-3">{{errorEdit}}</div>
                      </div>
                    </ng-template>
                </ngb-tab>
              </ngb-tabset>
        </div>
                 
    
    </div>
</div>