div.task-medium {
    border: 1px solid #dee2e6;
    border-left: 3px solid rgba(247,184,75,.5);
    background-color: #fff;
   
    margin-bottom: 15px;
    border-radius: 3px;
    i.angle{
        padding: 5px;
        border-radius: 50% !important;
        border: 1px solid;
        /* padding: 0.25rem; */
        /* width: 100%; */
        background-color: #dee2e6;
        border: 1px solid #dee2e6;
    }
}
 
.checkbox {
    margin-left: 10px;
}

 h5 {
    overflow: hidden;
}


.box-task{
    padding: 10px;
}


.avatar-sm {
    height: 2.25rem;
    width: 2.25rem;
}

.header-title {
    font-size: 1rem;
    margin: 0 0 5px 0;
}

.sub-header {
    font-size: .875rem;
    margin-bottom: 24px;
    color: #98a6ad;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
 //   margin: 10px 0;
    font-weight: 500;
    font-family: Roboto,sans-serif;
    color: #343a40;
}

.h5, h5 {
    font-size: .9375rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   // margin-bottom: 1.5rem;
    font-weight: 400;
    line-height: 1.1;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;

    .hide{
     display: none;
    }
    .show{
    display : block;
    }
}
.bottom-line{
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
}
.text-muted {
    color: #98a6ad!important;
}
a {
    color: #3bafda;
    text-decoration: none;
    background-color: transparent;
}