@import '../../../styles/variables.scss';

.table th, .table.sm td {
    padding: 0.20rem;
  //  vertical-align: top;
  //  border-top: 1px solid #dee2e6;
}

.quota-small{
    color: #48465b;
    font-weight: 600;
}


.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
    width: 40px;
    height: 40px;
}