@import '../../styles/variables.scss';


.nav-filter{

    margin-bottom: 5px;
 //   border-bottom: 1px solid #d2d6de;
 .nav-item {
          .nav-link{
                         color: #48465b;
                         text-transform: uppercase;
                         font-size: 1.0rem;
                         font-weight: 500;
           }
            &:hover {
                border-bottom: 1px solid $app-primary-color;
                .nav-link{
                color:  $app-primary-color;
                }
            }
             .active {
                border-bottom: 1px solid $app-primary-color;
                 color:  $app-primary-color;
                  .nav-link{

                  }
             }
        }

}

.margin-right{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.btn-action{
    background: $app-primary-color-2;
    border: 0.15px solid $app-secondary-color-2;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    &:hover {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
     }
    .fa{
        background: #BBEBFF;
        border-radius: 50%;
        padding: 5px;
        color: $app-secondary-color-3;
    }
}

.btn-square{
    color: $app-secondary-color-2;
    padding: 0px 5px 0px 5px;
    background: #F6F6F6;
    border: 0.15px solid #202020;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.07), inset 1px 1px 5px rgba(0, 0, 0, 0.07);
    border-radius: 3px 0px 0px 3px;
    &:hover,  &.active {
        color: $app-primary-color-2;
        background: $app-secondary-color-3;
    }

}
