

<div class="page-header  pt-3  d-flex justify-content-center">
  <h3 *ngIf="!!isStudent">STUDENTS</h3>
  <h3 *ngIf="!isStudent">STAFF</h3>
</div>




<div class="page-body">

 
  <ul class="nav nav-filter">

      <li class="sep-item">
          <button class="nav-link btn btn-action" (click)="openDialog(null)" type="button"><i class="fa fa-plus"></i> ADD </button>
        </li>
  
      <div class="margin-right">
      
          <li class="sep-item">
            <button class="nav-link  btn-square" [class.active] = "list==true" (click)="list=true" type="button"><i class="fa fa-list"></i></button>
          </li>
          <li class="sep-item">
            <button class="nav-link  btn-square" [class.active] = "list==false" (click)="list=false" type="button"><i class="fa fa-th-large"></i></button>
          </li>
          <li class="sep-item">
            <button class="nav-link  btn-square" [class.active] = "list==false" (click)="refreshWorkload()" type="button"><i class="fa fa-refresh"></i></button>
          </li>
        </div>
    </ul>
    <div class="row  pb-3 text-center">
        <div *ngIf="serverError" class="col-md-12 text-danger">{{serverError}}</div>
    </div>

    <div class="col-sm-12  p-0">

  
        <div class="card mb-3">

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
        
                <th>Email</th>
                <th>Registred</th>
                <th>Module</th>
                <th>Projects (current)</th>
                <th *ngIf="!isStudent">Workload</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let element of persons">
                <td>
                    <div class="d-flex">
                      
                        <img [src]="element.image?.url" default="../../../assets/images/person-icon.jpg"  class="img-circle img-bordered-sm mr-2" alt="...">
                        <a class="align-self-center"> {{element.firstName}} {{element.lastName}}</a>
                    </div>
                </td>
                <!--td> <span *ngIf="element.personfunction"  class="badge badge-pill badge-danger fs"> {{element.personfunction}}</span></td-->
                <td> <span class="btn btn-label-brand btn-sm btn-bold btn-upper"> {{element.email}}</span></td>
                <td> <span class="btn btn-label-danger btn-sm btn-bold btn-upper"> {{element.valid}}</span></td>
                <td>
                    <span> {{element.department?.name}}</span>
                </td>
                <td><span> {{element.currentProjects}}</span> </td>
                <td *ngIf="!isStudent"><span> {{element.workload}}</span> </td>
                <td>
                  <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 bd-highlight"><button class="nav-link btn app-primary btn-circle btn-outline"  [routerLink]="['.', element.id]"  type="button"><i class="fa fa-eye"></i></button></div>
                    <div class="p-2 bd-highlight"><button class="nav-link btn app-primary btn-circle btn-outline" (click)="openDialog(element)" type="button"><i class="fa fa-pencil"></i></button></div>
                    <div *ngIf="!element.valid" class="p-2 bd-highlight"><button class="nav-link btn app-primary btn-circle btn-outline" (click)="sendInvitation(element.id)" type="button"><i class="fa fa-send"></i></button></div>
                
                  </div>

                </td>
              </tr>

              </tbody>
            </table>
          </div>
        
          </div>
    </div>

    <div class="col-sm-12  p-0">
        <app-pagination-custom [page]="page" [total]="total" (pageEvent)="onPageChange($event)"></app-pagination-custom>
    </div>


  </div>