<div class=" pb-5 page-header">
  <h1>Projects</h1>
  <hr>

</div>

<ul class="nav nav-filter">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Open</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ALL</a>
  </li>

  <div class="margin-right">
    <li class="sep-item">
      <button class="nav-link btn app-primary btn-circle btn-outline" [routerLink]="['./add']" type="button"><i class="fa fa-plus"></i></button>
    </li>
    <li class="sep-item">
      <button class="nav-link btn app-primary btn-circle btn-outline" (click)="list=true" type="button"><i class="fa fa-list"></i></button>
    </li>
    <li class="sep-item">
      <button class="nav-link btn app-primary btn-circle btn-outline focus" (click)="list=false" type="button"><i class="fa fa-th-large"></i></button>
    </li>
  </div>
</ul>


        <!--table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef> First Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>


                  <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>


                  <ng-container matColumnDef="valid">
                        <th mat-header-cell *matHeaderCellDef> Valid </th>
                        <td mat-cell *matCellDef="let element"> {{element.valid}} </td>
                  </ng-container>

                  <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef> Department </th>
                        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                                <button [routerLink]="['.', element.id]" mat-icon-button><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
                        </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator-->


