@import '../../styles/variables.scss';

.margin-right{
    align-items: center;
    display: flex;
    margin-left: auto;
    .sep-item{
        margin-right: 10px;
    }
}

.nav-filter {
    margin-bottom: 5px;
    border-bottom: 1px solid #d2d6de;
    .nav-item {
          .nav-link{
                color: #48465b;
                text-transform: uppercase;
                 font-size: 1.0rem;
                 font-weight: 500;
           }
            &:hover{
                border-bottom: 1px solid $app-primary-color;
                .nav-link{
                color:  $app-primary-color;
                }
            }
             .active {
                border-bottom: 1px solid $app-primary-color;
             }
    }
}

user-block img {
    width: 40px;
    height: 40px;
    float: left;
}

.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
    width: 40px;
    height: 40px;
}

.project-title-small{
    color: #48465b;
    font-weight: 600;
}
.project-author-small{
    color: #595d6e;
    font-weight: 500;
    display: block;
}
.project-title{
    font-size: 1.3rem;
    color: #48465b;
    font-weight: 600;
}

.project-author{
    padding-top: .4rem;
    color: #595d6e;
    font-weight: 500;
    display: block;
}
.project-footer .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: 1px solid rgba(86,61,124,.2);
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
}

.project-footer2 {
    padding : 0px!important;
    .d-flex>div {
      //  padding-top: .75rem;
     //   padding-bottom: .75rem;
        border-right: 1px solid rgba(86,61,124,.2);
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
}


.project-icon-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.project-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.project-section-title{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.img-circle {
    border-radius: 50%;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
}

.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin-left: 50px;
}
