<div class="container-fluid">
        
        <div class="row mt-3">
                <div class="col-sm-12">
                        <h3>Intersted Persons ({{project.applies?.length}})</h3>
                </div>
         </div>


         <div  class="row mt-3">

                <div class="col-md-8 m-2" *ngFor="let apply of project.applies">
                        <div class="card shadow box-item">
                            <div class="apply-body p-2">


                                        <div class="d-flex justify-content-between" (click)="selectApplyId(apply.createdBy.personId)">
                                                 <div class="d-flex ">
                                                        <i *ngIf="selectedApplyId!=apply.createdBy.personId" class="fa fa-caret-right align-self-center pr-3"></i> 
                                                        <i *ngIf="selectedApplyId==apply.createdBy.personId" class="fa fa-caret-down align-self-center pr-3"></i> 
                                                        <img [src]="apply.createdBy?.imageId" default="../../../assets/images/person-icon.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                                                         <a  class="align-self-center apply-title"> {{apply.createdBy?.firstName}} {{apply.createdBy?.lastName}}</a>  
                                                         <span *ngIf="apply.termId" class="align-self-center value-color pl-2"> (as {{termMap[apply.termId]}})</span>                      
                                                      
                                                </div>
                                                <div class="d-flex ">
                                                       
                                                        <span *ngIf="isAssigned(apply.createdBy.personId)" class="align-self-center status-label"><i class="fa fa-circle pr-2"></i>ASSIGNED</span>
                                                        <span class="align-self-center value-no-color"> {{apply.submitDate  | date:'dd.MM.yyyy'}}</span>
                                                </div>
                                                 
                                        </div>
                                   

                      


                                    <div  class="" [ngbCollapse]="selectedApplyId!=apply.createdBy.personId">
                          
                                        <div  class="card-text" [innerHTML]="apply.description | truncatetext:150"></div>
                                        <div class="row pb-2">
                                                <div class="d-flex flex-row" *ngFor="let attachment of apply.files">
                                                        <div class="pl-3">
                                                        <a class="file-link" (click)="download(attachment.key, attachment.fileName, attachment.contentType)">{{ attachment.fileName }} </a>
                                                        </div> 
                                                </div>
                                        </div>
                                     
                                        <div *ngIf="canAssign && (!isAssigned(apply.createdBy.personId))" class="d-flex flex-row-reverse">
                                                <button class="btn action-bg-color mr-2" (click)="assign(apply)" type="button">Assign </button>
                                        </div>

                                               
                                      
                                     </div>  
                                   

                            </div>
                        </div>
                        
                </div>


         </div>

</div>

