<div class="task-medium ui-sortable-handle">

  <div class="d-flex justify-content-between bottom-line">

    <h5 class="mt-0"><a class="text-dark">iOS App home page</a></h5>
  </div>

  <div class="box-task" [ngbCollapse]="isCollapsed">
       <h3>Description</h3>
      <p>There are many variations of passages of Lorem Ipsum available. 
        There are many variations of passages of Lorem Ipsum available</p>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-auto">
          <a href="javascript: void(0);" class="text-muted">
            <img src="../../../assets/images/100_4.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
          </a>
          <a href="javascript: void(0);" class="text-muted">
            <img src="../../../assets/images/100_3.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
          </a>
        </div>
        <div class="col">
          <div class="text-right">
            <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Jan 16, 2019</p>
          </div>
        </div>
      </div>
    </div>
</div>