<h1 mat-dialog-title class="blue-light"><span *ngIf="!task.id">Add </span><span *ngIf="task.id">Edit </span> Task</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <form [formGroup]="form" class="task-form">      
      <div class="form-field-outer">
        <mat-form-field class="w-100 mt-4">
            <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="w-100 mt-4">
            <textarea  matInput placeholder="Description" formControlName="description"> </textarea>
        </mat-form-field>
        <div   fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex class="w-100 mt-4">
                <input matInput [matDatepicker]="startDate" placeholder="Start" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex class="w-100 mt-4">
                <input matInput [matDatepicker]="endDate" placeholder="End" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
      </div>
      <mat-checkbox formControlName="workshop" class="w-100 mt-4">Follow a workshop?</mat-checkbox>
    </div>
    </form>
</div>
<div mat-dialog-actions style="float:right;">
    <button mat-raised-button class="btn-save" [mat-dialog-close]="form.value" [disabled]="!form.valid">  <span class="text"> Save </span></button> 

</div>