<h1>Oragnisation info</h1>
<div  class="splash">

  <div  class="right">

      <div  class="details">
          <div  class="detail">
              <div  class="name">University Name</div>
              <div  class="value">{{organisation?.name}}</div>
          </div>
          <div  class="Contact Email">
            <div  class="name">Contact email</div>
            <div  class="value">{{organisation?.email}}</div>
          </div>
      </div>
      <div  class="divider reverse"></div>
      <div  class="right-bottom">
          <div  class="description-title">University Presentation</div>
          <div  class="description">
              <p>
                  {{organisation?.description}}
              </p>
          </div>
      </div>
      <div  class="divider reverse"></div>
      <div  class="right-bottom">
          <div  class="description-title">University Description</div>
          <div  class="description">
              <p>
                  {{organisation?.longDescription}}
              </p>
          </div>
      </div>
      <ul>
            <li  *ngFor="let  dep of organisation?.departments">
                        {{dep.name}}
            </li>

      </ul>
  </div>
</div>
<button class=" btn app-primary btn-circle btn-outline" (click)="openDialog()" type="button"><i class="fa fa-plus"></i></button>