
            <div class="modal-header">
                    <h4 class="modal-title">Add Person</h4>
                    <button type="button" class="close no-outline" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form">

                            <div class="row  pb-3 text-center">
                                    <div *ngIf="serverError" class="col-md-12 text-danger">{{serverError}}</div>
                                </div>

                        <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>First Name</label>
                                        <input type="text"  formControlName="firstName" class="form-control" placeholder="First Name">
                                        <div *ngIf="submitted && f.firstName.errors" class="text-danger">
                                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                            <label>Last Name</label>
                                            <input type="text"  formControlName="lastName" class="form-control" placeholder="Last Name">
                                            <div *ngIf="submitted && f.lastName.errors" class="text-danger">
                                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                            </div>
                                    </div>
                        </div>

                        <div class="form-group">
                                <label> Email</label>
                                <input type="text"  formControlName="email" class="form-control" placeholder="Email">
                                <div *ngIf="submitted && f.email.errors" class="text-danger">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                        </div>
    
                        <div class="form-group">
                                <label >Modules</label>
                                <select  formControlName="departmentId" class="form-control">
                                    <option [disabled]="departments?.length === 1"  *ngFor="let dep of departments"  [ngValue]="dep.id">{{dep.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.departmentId.errors" class="text-danger">
                                    <div *ngIf="f.departmentId.errors.required">Departmenent is required</div>
                                </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"  formControlName="isStaff" id="inlineRadio1" [value]="false">
                                <label class="form-check-label" for="inlineRadio1">Student</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" formControlName="isStaff" id="inlineRadio2" [value]="true">
                                <label class="form-check-label" for="inlineRadio2">STAFF</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div *ngIf="form?.value?.isStaff == true" class="form-group">
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox"  formControlName="isModelLeader" id="gridCheck">
                                <label class="form-check-label" for="gridCheck"> Is a Model leder?</label>
                                </div>
                            </div>
                        </div>
                    
    
                

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-primary focus"  (click)="create()" >ADD</button>
                    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">CANCEL</button>
                </div>
      