
table {
    width: 100%;
  }
  .member{
    align-items: center;
    display: flex;
    flex-direction: row; 
    img{
        width:30px;
        height:30px;
        border-radius:50%;
        margin-right:6px
    }  
  } 
.mat-card-header > .mat-card-header-text{
    padding: 0px 0px 0px 0px!important;
   }

.project-card{

   // border-left: 4px solid #68a31b;
    padding: 0px;
   .mat-card-header{
       padding-top: 3px;
   }
    .highlight{
        text-decoration: underline;
        font-weight: bold;
        
    }
    .card-project-departement{
        background-color: 	#2E98D2;
        color:white;
        margin-top: 3px;
    }
    .mat-chip {
        background-color: #2E98D2;
        color: #fff;
    }
}

.mat-card-actions {
    padding: 0px 0!important;
        margin-bottom: 0px!important;
}

.btn-add{
    background-color: #21A0D2!important;
    color: #fff!important;
    padding: 25px;
    margin: 20px;
}

.btn-filter{
    background-color: #21A0D2!important;
    color: #fff!important;
    padding: 3px;
    min-width: 150px;
    margin: 20px;
}
.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: -26px!important;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -3px!important;
}


.project-header-properties{
    padding-top:0px;
    .mat-list-item {
            height: 25px;
            color: rgba(0,0,0,.54);
            .mat-icon{
                color: 	#2E98D2;
                margin-right: 10px;
            }
    }
}

.testimonial-item{
    text-align: center; 
    overflow: visible;    
    padding: 0;   
    .text{
        font-style: italic;
    }
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .user-card{
        background: #C32929;
    }
    h3, p, i{
        color: white
    }
    .card-location{
        background: #D23A2E;
        .mat-icon{
            color: white
        }
    }
    .properties{
        .mat-icon{
            color: #C32929;
            margin-right: 10px;
        }
    }

} 