
<div fxLayout="row" fxLayoutAlign="start center">
         <div  fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100"  fxFlex.sm="100" class="p-2">    
                <mat-card class="project-card">
                        <mat-card-content class="mat-card-content">
                             <div class="w-100">
                                <button  [routerLink]="['./add']"  mat-raised-button class="btn-add">  <mat-icon>add_circle_outline</mat-icon> <span class="text"> NEW PROJECT </span></button> 
                                <mat-form-field>
                                        <mat-label>Select Project Category</mat-label>
                                                <select matNativeControl required>
                                                  <option value="volvo">Material</option>
                                                  <option value="saab">Electronic</option>
                                                  <option value="mercedes">Networks</option>
                                                  <option value="audi">Mechanic</option>
                                                </select>
                                </mat-form-field>
                                <button mat-raised-button class="btn-filter">  <span class="text"> Filter </span></button> 
                             </div>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions fxlayout="column" fxlayoutalign="space-between">
                                <nav mat-tab-nav-bar>
                                        <a mat-tab-link  [active]="true"><mat-icon>cast</mat-icon> <span matBadge="16" matBadgeOverlap="false">All</span></a>
                                        <a mat-tab-link><mat-icon>alarm_on</mat-icon> <span matBadge="8" matBadgeOverlap="false">Active</span></a>
                                        <a mat-tab-link><mat-icon>check_circle_outline</mat-icon> <span matBadge="4" matBadgeOverlap="false">Completed</span></a>
                                </nav>
                                <div>
                                        <button mat-icon-button  (click)="list=false"><mat-icon>apps</mat-icon></button>
                                        <button mat-icon-button  (click)="list=true"><mat-icon>list</mat-icon></button>
                                </div>
                        </mat-card-actions>
                </mat-card>
        </div>
</div>



<div *ngIf="list==false" >
<div  fxLayout="row wrap"  fxLayoutGap="24px" fxLayoutGap.gt-md="24px" fxLayoutAlign="start center">
        <div *ngFor="let project of projects"  fxFlex="100" fxFlex.gt-md="30" fxFlex.gt-sm="33" fxFlex.sm="50" style="min-width: 500px;" class="p-2">  
            
                <mat-card class="project-card">
                        <mat-card-header>
                                    <mat-card-title class="mat-card-title">{{project.name}}</mat-card-title>
                                    <mat-card-subtitle class="mat-card-subtitle">
                                            <mat-icon>date_range</mat-icon> 21/09/03/18, <mat-icon>person</mat-icon>Dr. Mohamad Ali
                                   </mat-card-subtitle>
                               
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                                <p class="secondary-text-color mt-2" style="padding:5px;">  <span class="highlight">Abstract:</span> This PhD project will focus on the investigation of the crystallization kinetics of several organic molecules (from low molecular weight compounds to polymers),
                                     by means of broadband dielectric spectroscopy. The aim of this research is to unveil the correlation between the relaxation processes active during crystallization and the molecular mechanisms responsible for the formation of ordered structures
                                </p>
                                <mat-progress-bar style="margin-top: 5px;" mode="determinate" value="40"></mat-progress-bar>
                                <div fxLayout="row wrap" fxLayoutAlign="start center">      
                                        <div  fxFlex="50" class="p-2"> 
                                                <button  mat-icon-button><mat-icon class="green-dark">fiber_manual_record</mat-icon>18 Tasks</button><br>
                                                <button   mat-icon-button><mat-icon class="blue-light">fiber_manual_record</mat-icon>2 Miles stones</button><br>
                                                <button   mat-icon-button><mat-icon class="blue-dark">fiber_manual_record</mat-icon>15 messages</button><br>
                                       </div>
                                       
                                       <div  fxFlex="50"  class="p-2"> 
                                                <button   mat-icon-button><mat-icon class="green-light">fiber_manual_record</mat-icon>6 Files</button><br>
                                                <button   mat-icon-button><mat-icon class="orange">fiber_manual_record</mat-icon>7 Discussions</button><br>
                                                <button  mat-icon-button><mat-icon class="grey-dark">fiber_manual_record</mat-icon>6 Tasks finished</button>
                                        </div>
                         </div>
                              
                        </mat-card-content>
                        <mat-divider></mat-divider>   
                        <mat-card-actions fxLayoutAlign="center center">  
                            <button mat-icon-button (click)="favorite(project.projectId)"><mat-icon>favorite</mat-icon></button>
                            <button mat-icon-button><mat-icon>share</mat-icon></button>
                            <button mat-icon-button><mat-icon>edit</mat-icon></button>
                            <button  [routerLink]="['.', project.projectId]" mat-icon-button><mat-icon>visibility</mat-icon></button>
                        </mat-card-actions>
                </mat-card> 
        </div>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>

</div>


</div>


<div *ngIf="list==true">

        <table mat-table [dataSource]="dataSource">

              
                <!--ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
                </ng-container-->
            
            
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                      </ng-container>
                  
            
                <ng-container matColumnDef="supervisor">
                  <th mat-header-cell *matHeaderCellDef> Supervisor </th>
                  <td mat-cell *matCellDef="let element"> 
                        
                                <span *ngIf="element.supervisor; else assigntemplate">{{element.supervisor?.firstName}}</span>
                                <ng-template #assigntemplate>
                                        <app-assign><app-select-box [options]="persons" (selected)="onSelectSupervisor(element.projectId, $event)"></app-select-box></app-assign>
                                </ng-template>
                      
                        
                  </td>
             
                </ng-container>

         
                  <ng-container matColumnDef="examinator">
                        <th mat-header-cell *matHeaderCellDef> Examinator </th>
             
                        <td mat-cell *matCellDef="let element"> 
                        
                                <span *ngIf="element.examinator; else assigntemplate">{{element.examinator?.firstName}}</span>
                                <ng-template #assigntemplate>
                                        <app-assign><app-select-box [options]="persons" (selected)="onSelectExecutor(element.projectId, $event)"></app-select-box></app-assign>
                                </ng-template>
                         </td>
                  </ng-container>

                 
                  <ng-container matColumnDef="students">
                        <th mat-header-cell *matHeaderCellDef> Person(s) </th>
                        <td mat-cell *matCellDef="let element"> 
                                
                                        <div *ngFor="let student of element.students"  class="member">
                                                <img matlistavatar  mattooltip="Lina Miller" src="assets/images/users/michael.jpg"> 
                                                <span> {{student?.firstName}}</span> 
                                        </div>
                                
                               </td>
                  </ng-container>
            
                  
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nbrMileStones">
                        <th mat-header-cell *matHeaderCellDef> Mile Stones </th>
                        <td mat-cell *matCellDef="let element"> {{element.nbrMileStones}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nbrCheckPoint">
                        <th mat-header-cell *matHeaderCellDef> Checkpoint </th>
                        <td mat-cell *matCellDef="let element"> {{element.nbrCheckPoint}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                                <button [routerLink]="['.', element.projectId]" mat-icon-button><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
                        </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>

  </div>

            
  