@import '../../styles/variables.scss';
$brand-color: #863dd9;

.filter-box{
    border-bottom: 1px solid #000000;
    align-items: center;
}
.self-align-center{
    align-items: center;

}



.r-select::after {
    border-color: #3273dc;
}

.filter-label{
    font-size: 16px;
    font-weight: 600;
    color: #777777;
}

.project-total{
    font-size: 18px;
    font-weight: 800;
    color: #777777;
}

.float-right{
    float: right;
}

.btn-add-project {
   // font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
   
}

.status-label {
    border-radius: 2px;
    color: #f5f5f5;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    min-width: 120px;
    margin-bottom: 5px;
    text-transform: uppercase;
   // border-bottom-right-radius: 25px;
   // border-bottom-left-radius: 25px;
    span{
        padding-left: 12px;
    }
  }

  .proposal{
    .status-label, .progress-bar {
      background: $app-secondary-color-3;
    }
  }

  .proposal, .assigned, .registration, .start, .progress, 
  .withdraw, .suspend, .reallocated, .completed, .closed, .new{
    .status-label, .progress-bar {
      background: $app-secondary-color-3;
    }
  }

  
  .completed{
    .status-label, .progress-bar {
        background: $app-green-light;
    }
  }

  .start, .progress{
    .status-label, .progress-bar {
        background: $app-green-light;
    }
  }

 .closed{
    .status-label, .progress-bar {
        background: $app-grey-dark;
    }
  }

  .withdraw, .suspend, .reallocated{
    .status-label, .progress-bar {
        background: $app-red;
    }
  }

.label-department-s{
    color: $app-secondary-color-3;
}

.label-status-text{
    color: $app-secondary-color-3;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.project-card{
    .label-s{
        font-weight: 800;
        font-size: 14px;
        color: #777777;
    }
    .label-m{
        font-weight: 800;
        font-size: 18px;
        color: #777777;
    }
    .value-sb{
        font-weight: 700;
        font-size: 14px;
        color: #000;
    }
    .label-department{
        color: $app-secondary-color-3;
        font-weight: 700;
        font-size: 14px;
    }
    .submitted-name{
        font-weight: bold;
        font-size: 18px;
        color: $app-secondary-color-3;
    }
    .card-header{
        border-bottom: none;
    }
    .self-center{
        align-self: center;
    }
    .align-center{
        align-items: center;
    }

}

.technology{
    min-height: 50px;
}
.card-text{
    font-size: 16px;
    line-height: 15px;
    color: #202020;
    min-height: 130px
}

.submitted-text{
 
    font-size: 18px;
    line-height: 15px;
    color: #202020;
}



.members-text{
    font-size: 15px;
    line-height: 15px;
    color: #C4C4C4;
}


.project-icon-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-button{
    &.active{
        background: #00B2FF;
    }
    background: #F6F6F6;
    box-shadow: inset 2px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;

    color: #000000;
}

.project-card{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
border-radius: 9px;
}



.team-info  { 
    li {
            transition: all .3s ease-in-out;
            display: inline-block;
            &:hover {
                transform: translateY(-4px) scale(1.02);
                z-index: 999;
            }
    }

    li+li {
        margin-left: -10px;
    }
	
	img {
    width: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
   }
}
.margin-right{
    align-items: center;
    display: flex;
    margin-left: auto;
    .sep-item{
      //  margin-right: 10px;
    }
}

.btn-action{
    background: $app-primary-color-2;
  //  border: 0.15px solid $app-secondary-color-2;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    &:hover {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
     }
    .fa{
        background: #BBEBFF;
        border-radius: 50%;
        padding: 5px;
        color: $app-secondary-color-3;

    }
}

.btn-square{
    color:  $app-secondary-color-2;
   // border:  1px solid $app-secondary-color-2;
   // padding: 5px 5px 5px 5px;
    background: #F6F6F6;
    border: none;
   // border: 0.15px solid #202020;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.07), inset 1px 1px 5px rgba(0, 0, 0, 0.07);
    border-radius: 3px 0px 0px 3px;
    // transform: rotate(-180deg);
    // background: $app-secondary-color-3;
    &:hover,  &.active {
           color:  $app-primary-color-2;
           background: $app-secondary-color-3;
    }

}


.nav-filter{

    margin-bottom: 5px;
 //   border-bottom: 1px solid #d2d6de;
 .nav-item {
          .nav-link{
                         color: #48465b;
                         text-transform: uppercase;
                         font-size: 1.0rem;
                         font-weight: 500;
           }
            &:hover {
                border-bottom: 1px solid $app-primary-color;
                .nav-link{
                color:  $app-primary-color;
                }
            }
             .active {
                border-bottom: 1px solid $app-primary-color;
                 color:  $app-primary-color;
                  .nav-link{

                  }
             }
        }

}

.user-block img {
    width: 40px;
    height: 40px;
    float: left;
}

.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
    width: 40px;
    height: 40px;
}

.project-title-small{
    color: #48465b;
    font-weight: 600;
}
.project-author-small{
    color: #595d6e;
    font-weight: 500;
    display: block;
}
.project-title{
    font-size: 1.3rem;
    color: #48465b;
    font-weight: 600;
}

.project-author{
    padding-top: .4rem;
    color: #595d6e;
    font-weight: 500;
    display: block;
}
.project-footer .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: 1px solid rgba(86,61,124,.2);
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
}

.project-footer2 {
    padding : 0px!important;
    .d-flex>div {
      //  padding-top: .75rem;
     //   padding-bottom: .75rem;
        border-right: 1px solid rgba(86,61,124,.2);
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.kt-media-group .kt-media:first-child {
    margin-left: 0;
}
.kt-media-group .kt-media {
    position: relative;
    z-index: 0;
    margin-left: -10px;
    border: 2px solid #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.kt-media.kt-media--circle {
    border-radius: 50%;
}
.kt-media {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    /* display: inline-flex; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
}

.btn.btn-label-brand {
    background-color: rgba(93,120,255,.1);
    color: #5d78ff;
    cursor: text!important;
}

.btn.btn-bold {
    font-weight: 600;
}
.btn.btn-upper {
    text-transform: uppercase;
}

.btn.btn-label-danger {
    background-color: rgba(253,57,122,.1);
    color: #fd397a;
    cursor: text!important;
}
.kt-widget__stats {
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

 .kt-widget__stats .kt-widget__item {
    padding-top: 1rem;
}

.kt-widget__stats .kt-widget__item .kt-widget__date {
    color: #595d6e;
    font-weight: 500;
    padding-bottom: 1rem;
    display: block;
}

.project-icon-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.project-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.project-section-title{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.img-circle {
    border-radius: 50%;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
}

.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin-left: 50px;
}
