
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    min-height: 567px;
  }

  .flex-container .left-side {
    width: calc(100% - 620px);
    color: #FFF;
    background-image: url(../../assets/images/background/16023.jpg);
    background-size: 100%;
  }

  .left-side .sid-layy {
    background-color: rgba(135, 63, 217, 0.73);
    height: 100%;
    align-items: center;
    display: flex;
    min-height: 100%;
    p{
      font-size: .9rem;
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc70;
    }
  }

  .flex-container .right-side {
      background-color: #FFF;
      width: 620px;
      text-align: center;
      font-size: 30px;
      padding-top: 80px;

     p {
        width: 100%;
        text-align: center;
      }

    .forget-p {
      font-size: 0.9rem;
      span {
        color: #c82333;
        font-weight: 600;
        margin-left: 5px;
        border-bottom: 2px solid #c82333;
      }
    }

    .small-info {
      font-size: 0.9rem;
      border-top: 1px solid #cccccc73;
      padding-top: 20px;
      margin-bottom: 5px;
    }
  }

  @media screen and (max-width: 660px) {
    .left-side {
        display: none;
   }
  }

  .login-box{

      form{
        max-width: 300px;
        float: none;
        margin: auto;
      }

      .btn{
        width: 100%;
        border-radius: 50px;
        padding: 10px 30px;
        margin: auto;
        margin-bottom: 10px;
        font-size: 13px;
        background-color: #863dd9;
        border-color: #863dd9;
        color: #FFF;
      }

      .login-text{
        margin-top: 15px;
        font-size: .9rem;
      }

      .small-logo{
        text-align: center;
        align-items: center;
        color: #c82333;
        font-size: 1.2rem;
        width: 100%;
      }
  }

  p span {
      cursor: pointer;
  }
