<!--h1>
  login
</h1>



<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>

  <button class="app-button" mat-raised-button color="primary">Login</button>
</form-->


<div _ngcontent-c21="" class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div _ngcontent-c21="" class="login-register-box">

      <mat-card>
        
        <mat-card-content>
          <form class="example-form">

            <div class="text-center">
                <img alt="homepage" src="assets/images/logo-icon.png">
                <h4 class="m-t-0">Login to App</h4>
            </div>

            
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          
           
                <mat-checkbox>Remember me</mat-checkbox>
         

            <button class="app-button" mat-raised-button color="primary">Login</button>
          </form>

          <div class="register">
            <span class="text">Don't have an account?</span>
            <a class="link">Create an account</a>
        </div>


        </mat-card-content>
      </mat-card>

    </div>
  </div>