@import 'variables';


.img-container{
    position:relative;
    display:inline-block;
    .overlay{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#f6f6f6;
        opacity:0;
        transition:opacity 500ms ease-in-out;
        cursor: pointer;
        span{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
          }
      }
      &:hover{
        .overlay{
            opacity:0.5;
          }  
      }
  }

.form-control:focus {
    border: 1px solid  $app-primary-color;
    box-shadow: none;
}

.modal-header {
    background-color: #004a96;
    color: #FFF;
	 .close {
	     opacity: 1;	
	     span{
             color: #FFF;	 
 		}
	 }
}

.form-group {
    label {
           color: #5f5555;
           display: inline-block;
           margin-bottom: 0.5rem;
           font-size: 13px;
           font-weight: 900;
           /* text-transform: uppercase; */
           line-height: 0.4;
    }
}

.form-control {
font-size: 14px;
width: 100%;
height: 40px;
font-family: 'Roboto', sans-serif;
border: 1px solid #e5e5e5;
border-radius: 3px;
color: #242424;
}


.ck.ck-content {
    border: 1px solid #e5e5e5 !important;
}

.ck.ck-balloon-panel {
  z-index: 9999!important;
}


.avatar-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -.5rem;

    .avatar-item {
        position: relative;
        z-index: 0;
      //  margin-left: -10px;
        border: 2px solid #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 4px;
        border-radius: 50%;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
       }
       &.plus{
        background: #C4C4C4;
        background-blend-mode: normal;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        color: #FFFFFF;
        padding: 5px 7px 5px 7px;
       }
       &:hover {
       z-index: 1;
    }

       img {
            border-radius: 50%;
            width: 100%;
            max-width: 30px;
            height: 30px;
       }
    
    }
}

.btn-b{
    padding-left: 0;
    b{
      padding: 9px 12px;
      background-color: rgba(0,0,0,.15);
    }   
  }
  
.img-mm {
    width: 45px;
    height: 45px;
}

.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
    width: 40px;
    height: 40px;
}
  
.blank-background{
    background: #FFFFFF;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}



.tooltip:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: -82px auto 0;
    font-size: 16px;
    padding: 13px;
    width: 220px;
  }
  .tooltip:hover:before{
    border: solid;
    border-color: #444 transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 45%;
    bottom: 30px;
    position: absolute;
  }


.img-circle {
    border-radius: 50%;
}

.img-sm {
    width: 30px;
    height: 30px;
}

.white-box{
    background-color: #fff;
}


.page-header{
    background-color: #fff;
    box-shadow: 3px 10px 9px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow:  3px 10px 9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:  3px 10px 9px rgba(0, 0, 0, 0.15);
    .title{
        font-weight: 500;
       font-size: 19px;
       line-height: 27px;
    }
}

.page-body{
  padding:30px;
}
.tab-item{
    font-size: 12px;
    line-height: 18px;
    color: #202020;
    padding-right: 1.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    &:hover,  &.active {
        color: $app-secondary-color-3;
        border-bottom:  2px solid $app-secondary-color-3;
        cursor: pointer;
    }
  

}
.to-hover {
    .to-show {
        display: none;
    }
    &:hover {
        .to-show {
            display: block;
        }
    }
}
.editor-footer{
    background-color: rgb(250, 250, 250);
    border-right: 1px solid rgb(196, 196, 196);
    border-left: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
}


.form-material .form-group {
	overflow: hidden
}

.form-material .form-control {
	background-color: rgba(0, 0, 0, 0);
	background-position: center bottom, center calc(100% - 1px);
	background-repeat: no-repeat;
	background-size: 0 2px, 100% 1px;
	padding: 0;
	transition: background 0s ease-out 0s
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
	background-image: linear-gradient(#fb9678, #fb9678), linear-gradient(#e9ecef, #e9ecef);
	border: 0;
	border-radius: 0;
	box-shadow: none;
	float: none
}

.form-material .form-control.focus,
.form-material .form-control:focus {
	background-size: 100% 2px, 100% 1px;
	outline: 0;
	transition-duration: .3s
}


.form-control-line .form-control {
	border: 0;
	border-radius: 0;
	padding-left: 0;
	border-bottom: 1px solid #e9ecef
}

.form-control-line .form-control:focus {
	border-bottom: 1px solid #fb9678
}

.btn-edit {
    color: #ccc;
     background-color: #fff;
     border-color: #ccc;
}

.text-center{
    text-align: center;
}

.text-danger{
    font-size: 0.8rem;
    font-weight: 700;
  }

  .text-success{
    font-size: 0.8rem;
    font-weight: 700;
  }
  
.fs-12 {
    font-size: 12px;
}

.right-border{
 border-right : 1px solid #000
}

.page-header-old{
  hr{
    width: 5%;
    border-top: 5px solid $app-primary-color;

    text-align: left;
    margin: 0 auto 0 0;
   }

}
.fs-1{
    font-size: 1.1rem;
}
.no-outline:focus{
    outline: none;
}
.keywords{
    padding: 0.110rem 0.75rem!important;
    color: inherit;
    border: 1px solid #e7eaec;
    background-color: #f8f9fa;
    border-radius: 50px;
    margin-right:5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-danger.btn-outline {
    color: #ed5565;
     background-color: #fff;
}

.btn-danger.btn-outline:hover {
    color: #fff;
        background-color: #ec4758;
        border-color: #ec4758;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #ec4758;
    border-color: #ec4758;
}

.app-primary.btn-outline {
    color: $app-primary-color;
     background-color: $app-secondary-color;
     border-color: $app-primary-color;
}

.app-primary.btn-outline:hover {
    color: $app-secondary-color;
    background-color: $app-primary-color;
    border-color: $app-primary-color;
}

.app-primary:hover, .app-primary:focus, .app-primary.focus, .app-primary.active{
    color: $app-secondary-color;
    background-color: $app-primary-color;
    border-color: $app-primary-color;
}

.app-primary-btn:hover, .app-primary-btn.focus, .app-primary.active{
    color: $app-secondary-color;
    background-color: $app-primary-color;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
 .open .dropdown-toggle.btn-default, .btn-default:active:focus,
 .btn-default:active:hover, .btn-default.active:hover, .btn-default.active:focus {
    color: inherit;
    border: 1px solid #d2d2d2;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-rounded {
    border-radius: 50px;
}
.btn-default {
    color: inherit;
   // background: white;
    border: 1px solid #e7eaec;
    background-color: #f8f9fa;
}

.btn.focus {
    box-shadow: none;
}

/*
.picture-wrapper .user-picture {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

      background-color: $organisation-background-color;
}
.picture-wrapper .user-picture > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.university-transparent {
background-image:  url(../assets/images/university-png.png);
}*/

.user-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid rgba(7, 71, 166, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.user-picture img {
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
     object-fit: cover;
     -o-object-position: center;
     object-position: center;
 }

.table.table-hover tbody tr:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
}

.tab-custom{
    width: 100%;
    .nav-tabs{
        .nav-link.active{
            // background-color: $app-primary-color-2;
             //color: $app-secondary-color-2;
             color: #f5f5f5;
             display: inline-block;
             font-size: 16px;
            // padding: 7px 12px;
             font-weight: 700;
            // cursor: pointer;
            //text-transform: uppercase;
             background: $app-secondary-color-3;
        }
      }
      .tab-content{
        background-color: $app-primary-color-2;
        padding:10px;
      }
}



/*Create ripple effec*/

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }
  
  .ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }

  .btn:hover {
    box-shadow:  0px 4px 6px 0px rgba(0,0,0,0.4);
  
  }
  
  
.img-bordered-tm {
    border: 2px solid #d2d6de;
    padding: 2px;
    width: 35px;
    height: 35px;
}

.btn-circle-s {
    width: 25px;
    height: 25px;
    padding: 4px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}