$app-primary-color: #004a96;//#2e7d06;
$app-secondary-color: #fff;

$app-sidebar-primary-color:#FCFCFC; // rgba(0, 0, 0, 0.1); // #fff;//#f8f9fa;
$organisation-background-color:  #fff;


//$app-sidebar-primary-color: rgba(243,149,0,.6);// #F39500;// #f8f9fa;

$topnav-background-color:  #fff;//2e7d06;//fff
$brand-color:#fff;// #863dd9;
$text-color: #fff; //222
