/* You can add global styles to this file, and also import other style files */
//@import "bootstrap/bootstrap";
@import "~bootstrap/scss/bootstrap.scss";
@import 'variables';
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@import "~@ng-select/ng-select/themes/material.theme.css";
// @import url(https://fonts.googleapis.com/css?family=Poppins);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');


body {
  //  font-family: "Roboto",sans-serif;
  //  font-weight: 300;
 // font-family: Poppins;
  font-family: "Roboto" !important;
font-style: normal;
font-weight: normal;
}


.xlModal > .modal-dialog {
    max-width: 1490px !important;
    min-width: 600px !important;
    width: 54% !important;
  }

.ng-select.custom {
    min-width: 200px;
}
.ng-select.custom-x {
    min-width: 400px;
    .ng-select-container .ng-value-container {
        padding-top: 5px;
    }

    .ng-clear-wrapper {
        padding-top: 5px;
    }  
}
.ng-select.custom .ng-select-container .ng-value-container {
 //  padding-top: 5px;
}
.ng-select.custom .ng-clear-wrapper {
   // padding-top: 5px;
}
/*

.ng-select.animate-progress .ng-arrow-wrapper {display: none;}


.ng-select.animate-progress .ng-select-container  {            
    height: 45px!important;
    border: none;
}

.ng-select.person .ng-select-container {
    height: 50px!important;
}


.ng-select.animate-progress{
    width: 60px;
    transition: width 0.4s linear;
}
.ng-select.animate-progress:hover{
    width: 450px;
    transition: width 0.4s linear;
    .ng-select-container  { 
        border: 1px solid #bebebe;
        border-radius: 30px;
    }
}*/

input[type=text], input[type=date], input[type=datetime], input[type=number], input[type=search], input[type=time], input[type=url], input[type=email], textarea, select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  //  border: 1px solid #bebebe;
    padding: 7px;
    margin: 0;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    outline: 0;
}


@media print {
    .breadcrumb {
        display: none !important;
    }
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  .full-height {
    height: 100%;
    background: yellow;
  }