
<div class="container-fluid">
  <div class="row mt-3">
       <div class="col-sm-12">
          <div class="media">
                  <img src="../../../assets/images/edinburgh-university-logo.jpeg" class="project-icon mr-2" alt="...">
                  <div class="media-body">

                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="container-fluid">
                                      <div class="row">
                                          <div class="col-sm-12"><a class="project-title mt-0">{{module.name}}</a></div>
                                      </div>
                                      <div class="row mt-3">
                                          <div class="col-sm-12">
                                              <span class="project-section-title">Presentation</span><br>
                                              <p class="card-text">
                                                  {{module.description}}
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-sm-6">
                                  
                                  <div class="container-fluid">
                                      <div class="row mt-3">
                                          <div class="col-sm-12">
                                              <span class="project-section-title">Responsable</span><br>
                                              <div class="d-flex">
                                                <img src="../../../assets/images/100_4.jpg" class="img-circle img-bordered-sx mr-2" alt="...">
                                                <a class="align-self-center"> <strong> Dr.  {{module.responsible?.firstName}}  {{module.responsible?.lastName}} </strong></a>
                                              </div>
                                          </div> 
                                          
                                      </div>
                                  </div>

                          
                              </div>
                          </div>
                      </div>

                  </div>
          </div>
      </div>
  </div>

</div>
