

 <div class="container-fluid">

        <div class="d-flex flex-row-reverse">
           <button class="mt-3 btn btn-success btn-b" type="button" (click)="openTermDialog(null)">
               <b><i class="fa fa-plus"></i></b>Add New Supervisor, Examiner or Chair
          </button>
        </div>
     
        <div class="sub-content blank-background container-fluid mt-3">
            <div class="mar-15">
                <div class="row pt-4 section">
                      <h2 > Teams</h2>
                </div>
           
                <div class="row term-box   pt-4">
                        
                        <div class="col-md-2" > <span class="label"> Max teams: </span> </div>

                   
                        <div *ngIf="!editShow.maxTeamNbr" class="col-md-6 form-material center-box">
                                <div class="d-flex  flex-row">
                                    <a class="project-title mt-0 mr-4">{{module.maxTeamNbr}}</a>
                                    <button class="ml-4 btn app-primary btn-circle btn-outline" type="button" (click)="editShow.maxTeamNbr=true"><i class="fa fa-pencil"></i></button>
                                </div>
                         </div>
                          <div  *ngIf="!!editShow.maxTeamNbr" class="col-md-4 form-material">
                                <div class="d-flex flex-row">
                                    <input type="text" [(ngModel)]="module.maxTeamNbr" class="form-control form-control-line">
                                    <button class="btn btn-edit btn-circle" type="button" (click)="updateModule()" ><i class="fa fa-check"></i></button>
                                    <button class="btn btn-edit btn-circle" type="button" (click)="editShow.maxTeamNbr=false" ><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                </div>

               
                <div class="row pt-4 section">
                        <h2 > Supervisors</h2>
                  </div>
                <div class="row term-box  pt-4" *ngFor="let term of terms">
                        <div class="col-md-3 text" > {{term.order}} - {{term.name}}  </div>

                        <div class="col-md-6 " >
                            
                            <div *ngIf="term.mandatoryBeforeStart" class="row">
                                <div  class="col-md-6"> <span class="label">- Should be assigned Before Start </span> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" > <span class="label">- Supervision Quota (max number of projects) :</span>{{term.quota}} </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" > <span class="label">- Workload Allocation (per project) :</span>{{term.workload}}  </div>
                            </div>

                            <div class="row">
                                    <div class="col-md-3" > <span class="label">- Responsibility : </span> </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-10" [innerHTML]="term.description"></div>
                            </div>
                        </div>

    
                        <div class="col-md-2 mt-3">
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">
                                      <button class="btn app-primary btn-circle btn-outline"  (click)="openTermDialog(term)"  type="button">
                                        <i class="fa fa-pencil"></i>
                                      </button>
                                    </div>
                            
                                    <div class="p-2 bd-highlight">
                                      <button class="btn app-primary btn-circle btn-outline"  (click)="deleteTerm(term.termId)"  type="button">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                    </div>
                              
                                </div>
                        </div>
                </div>   
            </div>  
                
        </div>
</div>
  
