@import '../../../styles/variables.scss';


.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 66px;
    left: 293px;
    width: 293px;
    margin-left: -293px;
   // background-color : #F8FAFF;
  //  margin-bottom: 48px;

    //    border-right: 1px solid rgba(0, 0, 0, 0.1);
 //       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 box-shadow: 3px 10px 9px rgba(0, 0, 0, 0.15);
 -webkit-box-shadow:  3px 10px 9px rgba(0, 0, 0, 0.15);
 -moz-box-shadow:  3px 10px 9px rgba(0, 0, 0, 0.15);
    border: none;
   // border-radius: 0;
    overflow-y: auto;
    background: $app-sidebar-primary-color-2;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
    .list-group {


        .menu-bar{
            margin-top:50px;
            border-left: 8px solid $app-primary-color;
        }

        a.list-group-element {
            background: $app-sidebar-primary-color-2;
            border: 0;
            border-radius: 0;
            color: $app-secondary-color-2;
            position: relative;
            display: block;
            text-decoration: none;
            .fa {
                padding: 20px 25px 20px 20px;
            }
        }
        a:hover {
            color: $app-secondary-color;
            background: $app-primary-color;
         //   border-bottom: 2px solid $app-secondary-color;
         //   border-top: 2px solid $app-secondary-color;
          /*  .fa {
                background: $app-secondary-color;
            }*/
        }
        a.router-link-active {
            color: $app-secondary-color;
            background: $app-primary-color;
           /* .fa {
                background: $app-secondary-color;
            }*/
        }
         .menu-header {
            color: rgba(61,68,101,.5);
            padding: 0 1.5rem;
            font-size: .75rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        .header-fields {
            padding-top: 10px;

            > .list-group-element:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $app-sidebar-primary-color-2;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($app-sidebar-primary-color-2, 0%);
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $app-sidebar-primary-color-2;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                .list-group-item:hover {
                    background: darken($app-sidebar-primary-color-2, 0%);
                }
            }
        }
    }
}

.sidebar-profile{
   // border-color: rgba(61, 68, 101, 0.5);
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    }

.nested-menu {
    .list-group-element {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .sidebar {
        top: 54px;
        left: 0px;
    }
}
@media print {
    .sidebar {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}

.toggle-button {
    position: fixed;
    width: 236px;
    cursor: pointer;
    padding: 12px;
    bottom: 0;
    color: #999;
    background: #212529;
    i {
        font-size: 23px;
    }
    &:hover {
        background: darken($app-sidebar-primary-color-2, 5%);
        color: #fff;
    }
    border-top: 1px solid #999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.collapsed {
    width: 60px;
    span {
        display: none;
    }

}
