$mat-basf-orange: (
    50 : #fef2e0,
    100 : #fbdfb3,
    200 : #f9ca80,
    300 : #f7b54d,
    400 : #f5a526,
    500 : #f39500,
    600 : #f18d00,
    700 : #ef8200,
    800 : #ed7800,
    900 : #ea6700,
    A100 : #ffffff,
    A200 : #ffeade,
    A400 : #ffcbab,
    A700 : #ffbb91,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mat-basf-red: (
    50 : #f8e0e4,
    100 : #eeb3bd,
    200 : #e28091,
    300 : #d64d64,
    400 : #ce2643,
    500 : #c50022,
    600 : #bf001e,
    700 : #b80019,
    800 : #b00014,
    900 : #a3000c,
    A100 : #ffcecf,
    A200 : #ff9b9d,
    A400 : #ff686c,
    A700 : #ff4e53,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-basf-light-blue: (
    50 : #e4f4fa,
    100 : #bce3f2,
    200 : #90d0e9,
    300 : #64bde0,
    400 : #42aed9,
    500 : #21a0d2,
    600 : #1d98cd,
    700 : #188ec7,
    800 : #1484c1,
    900 : #0b73b6,
    A100 : #e2f3ff,
    A200 : #afddff,
    A400 : #7cc7ff,
    A700 : #63bcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$mat-basf-light-green: (
    50 : #edf5e4,
    100 : #d1e6bc,
    200 : #b2d68f,
    300 : #93c562,
    400 : #7cb840,
    500 : #65ac1e,
    600 : #5da51a,
    700 : #539b16,
    800 : #499212,
    900 : #37820a,
    A100 : #cbffb2,
    A200 : #a9ff7f,
    A400 : #86ff4c,
    A700 : #75ff32,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mat-basf-dark-blue: (
    50 : #e0e9f2,
    100 : #b3c9e0,
    200 : #80a5cb,
    300 : #4d80b6,
    400 : #2665a6,
    500 : #004a96,
    600 : #00438e,
    700 : #003a83,
    800 : #003279,
    900 : #002268,
    A100 : #97b0ff,
    A200 : #6489ff,
    A400 : #3162ff,
    A700 : #184fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$mat-basf-dark-green: (
    50 : #e0efe7,
    100 : #b3d7c4,
    200 : #80bc9d,
    300 : #4da175,
    400 : #268d58,
    500 : #00793a,
    600 : #007134,
    700 : #00662c,
    800 : #005c25,
    900 : #004918,
    A100 : #7dff9b,
    A200 : #4aff73,
    A400 : #17ff4c,
    A700 : #00fc3a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-basf-dark-grey: (
    50 : #efefef,
    100 : #d8d8d8,
    200 : #bebebe,
    300 : #a3a3a3,
    400 : #909090,
    500 : #7c7c7c,
    600 : #747474,
    700 : #696969,
    800 : #5f5f5f,
    900 : #4c4c4c,
    A100 : #f7baba,
    A200 : #f28c8c,
    A400 : #ff4d4d,
    A700 : #ff3333,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);


$mat-basf-light-grey: (
    50 : #fbfbfb,
    100 : #f5f5f5,
    200 : #eeeeee,
    300 : #e7e7e7,
    400 : #e1e1e1,
    500 : #dcdcdc,
    600 : #d8d8d8,
    700 : #d3d3d3,
    800 : #cecece,
    900 : #c5c5c5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

