<div class=" pb-5 page-header">
  <h1>Project: Nexa - Next generation SAAS </h1>
  <hr>
</div>

<div *ngIf="doubleVue else projectDetails" class="container-fluid">
  <ngb-tabset [justify]="'justified'">
    <ngb-tab title="Goals View">
      <ng-template ngbTabContent>
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-sm-6">
              <div class="d-flex justify-content-between p-3">
                  <h5 class="mt-0"><a class="text-dark">Goals</a></h5>
                <button class=" btn app-primary btn-circle btn-outline" (click)="openGoalDialog()" type="button"><i class="fa fa-plus"></i></button>
              </div>


              <ul class="StepProgress">
                <li *ngFor="let goal of project.goals"  class="StepProgress-item is-done">
                  
                    <div class="d-flex justify-content-between">
                      <span (click)="selectGoal(goal.goalId)">  <strong>{{goal.name}}</strong> </span>
                     <button class=" btn app-primary btn-circle btn-outline" (click)="openTaskDialog(goal.goalId)" type="button"><i class="fa fa-plus"></i></button>
                  </div>
                  <small class="text-muted"> {{goal.startDate  | date:'dd/MM/yyyy'}} - {{goal.endDate  | date:'dd/MM/yyyy'}}</small>
                  <div  class="sortable-list tasklist list-unstyled ui-sortable" [ngbCollapse]="selectedGoalId!=goal.goalId">
                      <div   *ngFor="let task of goal.tasks" (click)="selectTask(task)"  class="task-medium ui-sortable-handle">
                        <div class="d-flex justify-content-between p-3">
                          <h5 class="mt-0"><a class="text-dark">{{task.name}}</a></h5>
                          <i class="fa fa-check"></i>
                        </div>
                      
                      </div>
                    </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
                <div  *ngIf="selectedTask" class="task-medium ui-sortable-handle p-3">

                    <div class="d-flex justify-content-between bottom-line">
                        <a class="project-title mt-0">{{selectedTask.name}}</a>
                        
         
                          <div class="input-group-append" ngbDropdown>
                            <button class="btn btn app-primary btn-outline dropdown-toggle" type="button" ngbDropdownToggle>ACTION</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                              <a class="dropdown-item"(click)="changeStatus('OPEN')">OPEN</a>
                              <a class="dropdown-item"(click)="changeStatus('PROGRESS')">PROGRESS</a>
                              <a class="dropdown-item" (click)="changeStatus('REVIEW')">REVIEW</a>
                              <div role="separator" class="dropdown-divider"></div>
                              <a class="dropdown-item" (click)="changeStatus('DONE')">DONE</a>
                            </div>
                        
                        </div>
                    </div>
                  
                    <div class="box-task">
                      
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight">
                          <span class="project-section-title">Status</span><br>
                          <span class="btn btn-label-brand btn-sm btn-bold btn-upper">{{selectedTask.status }}</span>
                      </div>

                      </div>
                        <div class="d-flex justify-content-between">
                            
                            <div class="p-2 bd-highlight">
                                <span class="project-section-title">Start Date</span><br>
                                <span class="btn btn-label-brand btn-sm btn-bold btn-upper">{{selectedTask.startDate | date:'dd/MM/yyyy' }}</span>
                            </div>

                            <div class="p-2 bd-highlight">
                                <span class="project-section-title">End Date</span><br>
                                <span class="btn btn-label-danger btn-sm btn-bold btn-upper">{{selectedTask.endDate  | date:'dd/MM/yyyy'}}</span>
                            </div>

                            <div class="p-2 bd-highlight">
                                <span class="project-section-title">Assigned</span><br>
                                <div  *ngIf="selectedTask.assignedTo?.length > 0; else selectUser" class="d-flex">
                                    <img src="../../../assets/images/100_4.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                                    <a class="align-self-center">{{selectedTask.assignedTo[0]?.firstName}} {{selectedTask.assignedTo[0]?.lastName}}</a>
                                </div>
                                <ng-template #selectUser>
                                
                                    <div class="d-flex justify-content-between">
                                      <button class="img-circle img-bordered-sm mr-2"  *ngIf="!selectionAssignTaskActive" type="button" (click)="selectionAssignTaskActive = !selectionAssignTaskActive"><i class="fa fa-user-plus"></i></button>
                                  
                                      <ng-select    *ngIf="!!selectionAssignTaskActive" class="animate-progress"  [items]="persons" 
                                          [loading]="true" [clearable]="false" bindValue="id" (change)="onAssignTask($event)">
            
                                          <ng-template ng-loadingspinner-tmp>
                                            <button class="img-circle img-bordered-sm mr-2 search_icon" type="button" ><i class="fa fa-user-plus"></i></button>
                                          </ng-template>
            
                                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                            <div class="d-flex">
                                              <img src="../../../assets/images/100_4.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                                              <a class="align-self-center">  {{item.lastName}}  {{item.firstName}} </a>
                                            </div>
                                        </ng-template>
                                      </ng-select>
                                    </div>
                                  </ng-template>
                            </div>

                        </div>

                        <span class="project-section-title">Description</span><br>
                        <p>
                          {{selectedTask.description}}
                        </p>
                        <div class="clearfix"></div>

                        <span class="project-section-title">Attchement</span><br>
                      
                    
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
 
    <ngb-tab title="Overview View">
        <ng-template ngbTabContent>
           <ng-container *ngTemplateOutlet="projectDetails"></ng-container>
        </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<ng-template #projectDetails>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-sm-12">

          <div class="media">
            <img src="../../../assets/images/3.png" class="project-icon mr-2" alt="...">
            <div class="media-body">

              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6">

                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="project-title mt-0">{{project.name}}</a>
                        </div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-sm-12">
                          <span class="project-section-title">Abstract</span><br>
                          <p class="card-text">
                              {{project.shortDescription}}
                          </p>
                          <div class="d-flex flex-row bd-highlight">
                            <div class="flex-fill bd-highlight">
                              <span class="project-section-title">Technologies</span><br>
                              <div class="container">
                                <div class="row">
                                  <a class="btn keywords" href="#">UX</a>
                                  <a class="btn keywords" href="#">JAVA</a>
                                  <a class="btn keywords" href="#">Angular</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>

                  <div class="col-sm-6">
                    <div class="container-fluid">
                      <div class="row mt-3">

                        <div class="col-sm-6">
                          <span class="project-section-title"><i class="fa fa-building"></i>Department</span><br>
                          <span class="">    {{project.department.name}}</span>
                        </div>

                        <div class="col-sm-6">
                          <span class="project-section-title">Supervisor</span><br>
                          <div  *ngIf="!!project.supervisor" class="d-flex">
                            <img src="../../../assets/images/100_4.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                            <a class="align-self-center">   {{project.supervisor?.firstName}}  {{project.supervisor?.lastName}}</a>
                          </div>
                          <div class="d-flex justify-content-between" *ngIf="!project.supervisor">
                           <button class="img-circle img-bordered-sm mr-2"  *ngIf="!selectionSupervisorActive" type="button" (click)="selectionSupervisorActive = !selectionSupervisorActive"><i class="fa fa-user-plus"></i></button>
                      
                              <ng-select    *ngIf="!!selectionSupervisorActive" class="animate-progress"  [items]="persons" 
                                  [loading]="true" [clearable]="false" bindValue="id" (change)="onSelectSupervisor($event)">

                                  <ng-template ng-loadingspinner-tmp>
                                    <button class="img-circle img-bordered-sm mr-2 search_icon" type="button" ><i class="fa fa-user-plus"></i></button>
                                  </ng-template>

                                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                    <div class="d-flex">
                                      <img src="../../../assets/images/100_4.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                                      <a class="align-self-center">  {{item.lastName}}  {{item.firstName}} </a>
                                    </div>
                                </ng-template>
                              </ng-select>
                          </div>
                        </div>
                      </div>


                      <div class="row mt-3">
                        <div class="col-sm-6">
                          <span class="project-section-title">Start Date</span><br>
                          <span class="btn btn-label-brand btn-sm btn-bold btn-upper"> {{project.startDate  | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div class="col-sm-6">
                          <span class="project-section-title">End Date</span><br>
                          <span class="btn btn-label-danger btn-sm btn-bold btn-upper"> {{project.endDate  | date:'dd/MM/yyyy'}}</span>
                        </div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-sm-12 flex-fill bd-highlight">
                          <span class="project-section-title">Progress</span>
                          <div class="kt-widget__progress d-flex   align-items-center">
                            <div class="progress" style="height: 5px;width: 100%;">
                              <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 78%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget__stat">78%</span>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-3">

                        <div class="col-sm-12">
                          <span class="project-section-title">Teams</span><br>
                          <div class="d-flex add-member">
                            <img *ngFor="let team of project.team" src="../../../assets/images/100_7.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                            <button *ngIf="!selectionTeamActive" (click)="selectionTeamActive=!selectionTeamActive" class="img-circle img-bordered-sm mr-2" type="button"><i class="fa fa-user-plus"></i></button>
                            <ng-select    *ngIf="!!selectionTeamActive" class="animate-progress"  [items]="persons" 
                                [loading]="true" [clearable]="false" bindValue="id" (change)="onSelectTeam($event)">

                                <ng-template ng-loadingspinner-tmp>
                                  <button class="img-circle img-bordered-sm mr-2 search_icon" type="button" ><i class="fa fa-user-plus"></i></button>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                  <div class="d-flex">
                                    <img src="../../../assets/images/100_4.jpg" class="img-circle img-bordered-sm mr-2" alt="...">
                                    <a class="align-self-center">  {{item.lastName}}  {{item.firstName}} </a>
                                  </div>
                              </ng-template>
                            </ng-select>
                          </div>
                        
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="row mt-3">
            <div class="col-sm-12">
          
              <ngb-tabset>
                <ngb-tab title="Description">
                    <ng-template ngbTabContent>
                    {{project.description}}
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Budget">
                  <ng-template ngbTabContent>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</ng-template>


    <!--ngb-tab title="Disabled" >
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-lg-4">
              <div class="card-box">
                <div class="dropdown float-right">
                  <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(24px, 26px, 0px);">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <a class="dropdown-item" href="#">Add Members</a>
                    <a class="dropdown-item" href="#">Add Due Date</a>
                  </div>
                </div> 

                <h4 class="header-title">Upcoming</h4>
                <p class="sub-header">
                  Your awesome text goes here. Your awesome text goes here.
                </p>

                <ul class="sortable-list tasklist list-unstyled ui-sortable" id="upcoming">

                  <li id="task1" class="task-medium ui-sortable-handle" style="">

                    <div class="d-flex justify-content-between">

                      <h5 class="mt-0"><a class="text-dark">iOS App home page</a></h5>
                      <i class="fa fa-angle-right" (click)="show=!show"></i>
                    </div>

                    <p class="hide" [class.show]="show">There are many variations of passages of Lorem Ipsum available.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="../../../assets/images/100_4.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="../../../assets/images/100_3.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Jan 16, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li><li id="task2" class="task-low ui-sortable-handle">
                  <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                    <input type="checkbox">
                    <label></label>
                  </div>

                  <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Topnav layout design</a></h5>

                  <p>Many desktop publishing packages and web page.</p>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-auto">
                      <a href="javascript: void(0);" class="text-muted">
                        <img src="assets/images/users/avatar-2.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                      </a>
                    </div>
                    <div class="col">
                      <div class="text-right">
                        <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Jan 22, 2019</p>
                      </div>
                    </div>
                  </div>
                </li>
                  <li id="task3" class="task-low ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Invite user to a project</a></h5>

                    <p>If you are going to use a passage of Lorem Ipsum.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-5.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Feb 08, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="task4" class="task-high ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Write a release note</a></h5>

                    <p>There are many variations of passages of Lorem Ipsum available.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-6.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-7.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Feb 12, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
                <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
              </div>
            </div> 

            <div class="col-lg-4">
              <div class="card-box">
                <div class="dropdown float-right">
                  <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <a class="dropdown-item" href="#">Add Members</a>
                    <a class="dropdown-item" href="#">Add Due Date</a>
                  </div>
                </div>

                <h4 class="header-title">In Progress</h4>
                <p class="sub-header">
                  Your awesome text goes here.
                </p>

                <ul class="sortable-list tasklist list-unstyled ui-sortable" id="inprogress">
                  <li id="task6" class="task-low ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Enable analytics tracking</a></h5>

                    <p>It has roots in a piece of classical Latin literature from 45 BC.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-6.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Feb 12, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="task7" class="task-low ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Kanban board design</a></h5>

                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-8.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-4.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Jan 31, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="task-high ui-sortable-handle" id="task8">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Code HTML email template</a></h5>

                    <p>There are many variations of passages of Lorem Ipsum available.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-9.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Mar 27, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
                <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
              </div> 
            </div>

            <div class="col-lg-4">
              <div class="card-box">
                <div class="dropdown float-right">
                  <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <a class="dropdown-item" href="#">Add Members</a>
                    <a class="dropdown-item" href="#">Add Due Date</a>
                  </div>
                </div>

                <h4 class="header-title">Completed</h4>
                <p class="sub-header">
                  Your awesome text goes here. Your awesome text goes here.
                </p>

                <ul class="sortable-list tasklist list-unstyled ui-sortable" id="completed">
                  <li id="task10" class="task-low ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Brand logo design</a></h5>

                    <p>Various versions have evolved over the years, sometimes by accident.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-2.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Mar 27, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="task11" class="task-medium ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Improve animation loader</a></h5>

                    <p>A handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-3.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Mar 27, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="task12" class="task-low ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Dashboard Re-design</a></h5>

                    <p>There are many variations of passages of Lorem Ipsum available.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-5.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-8.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Apr 19, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="task13" class="task-low ui-sortable-handle">
                    <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                      <input type="checkbox">
                      <label></label>
                    </div>

                    <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">iOS App home page</a></h5>

                    <p>you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-muted">
                          <img src="assets/images/users/avatar-4.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                        </a>
                      </div>
                      <div class="col">
                        <div class="text-right">
                          <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Apr 27, 2019</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
              </div>
            </div

          </div>
        </ng-template>
      </ngb-tab-->
  