<div class="container-fluid">
        
  <div class="row mt-3">
     <div class="col-sm-12">
            <div class="d-flex flex-row self-align-center pr-3">
                    <span class="filter-label align-self-center pr-2">Goals: </span>
                    <ng-select  [items]="goals" class="custom-x" bindValue="goalId"  [(ngModel)]="selectedGoalId"  (change)="onGoalChange($event)" >
                        <ng-template ng-label-tmp let-item="item">
                            <b>{{item.name}}</b>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item"  let-index="index">
                            <div class="d-flex">
                                <span class="align-self-center"> {{item.name}} </span>
                            </div>
                         </ng-template>
                      </ng-select>
             </div>
     </div>
  </div>
  <div class="row">
    <div  *ngIf="error" class="col-sm-12 text-danger"> {{error}} </div>  
  </div>
  <div class="row p-1">
    <div *ngFor="let taskboard of kanban" class="col-md-3 " >
            
       <div class="d-flex flex-column self-align-center">
            <div class="mt-1 board-title"><span >{{taskboard.status.label}}</span></div> 
            <div cdkDropList id="{{taskboard.id}}" [cdkDropListData]="taskboard.tasks"
                 [cdkDropListConnectedTo]="taskboard.next" class="item-list task-type" (cdkDropListDropped)="drop($event)">
              <div  *ngFor="let ts of taskboard.tasks" (click)="selectTask(ts)"  class="task p-2 item-box d-flex align-items-start flex-column" cdkDrag>
                <div class="d-flex flex-row mb-auto">
                  <i class="fa fa-bookmark fa-b mr-2"></i>
                  <span class="mt-0"> <a class="title">{{ts.name}}</a></span>
                
                </div>
                <div  class="d-flex justify-content-between info" >
                    <div class="d-flex align-items-center pt-1">
                        <i class="fa fa-clock-o pr-2"></i>
                        <span class="text-small pr-3">{{ts.startDate  | date:'dd-MM-yyyy'}}</span>

                        <i class="fa fa-comment-o pr-2"></i>
                        <span class="text-small pr-3"> {{ts.messages?.length}}</span>
                      </div>
                </div>
              </div>
            </div>

        </div>
          
    </div>
    <!-- /.col -->
  </div>

  <div class="sidebar-overlay" [class.active]="selectedTask"></div>
 
  <div class="right-bar" [class.open]="selectedTask">
        <div class="row">
                <div class="col-sm-1">
                        <div (click)="closeTask()" class="close-box"> 
                                <span>x</span>
                              </div>
                </div>

                <div class="col-sm-11">
                        <app-task  *ngIf="selectedTask"   [projectId]="project.projectId" 
                        [goalId]="selectedGoalId" [task]="selectedTask" [persons]="persons"></app-task> 
                </div>
        </div>       
     
  </div>

</div>
