<h1 class="blue-light"><span *ngIf="!goal.goalId">Add </span><span *ngIf="goal.goalId">Edit </span> Goal</h1>

    <form [formGroup]="form" class="goal-form">
      <!--div class="form-field-outer">
        <mat-form-field class="w-100 mt-4">
            <input matInput placeholder="Title" formControlName="name">
        </mat-form-field>
        <mat-form-field class="w-100 mt-4">
            <textarea  matInput placeholder="Description" formControlName="description"> </textarea>
        </mat-form-field>
        <div   fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex class="w-100 mt-4">
                <input matInput [matDatepicker]="startDate" placeholder="Start" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex class="w-100 mt-4">
                <input matInput [matDatepicker]="endDate" placeholder="End" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
      </div>
      <mat-checkbox formControlName="workshop" class="w-100 mt-4">Follow a workshop?</mat-checkbox>
    </div-->
    </form>


    <button class="btn-save">  <span class="text"> Save </span></button>
