<div class="project-details">
<div   fxLayout="column" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
    <div  class="splash" fxLayout="column" fxLayout.gt-sm="row" >
        
        <div  class="right" fxFlex="auto" fxFlex.gt-sm="" fxLayout="column" fxLayoutAlign.gt-sm="space-between">
            <div  class="splash-title">Project Information</div>
            <div  class="details" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
                <div  class="detail">
                    <div  class="name">Project Name</div>
                    <div  class="value">Product Redesign</div>
                </div>
                <div  class="detail">
                    <div  class="name">Due Date</div>
                    <div  class="value">April 7, 2019</div>
                </div>
                <div  class="detail">
                    <div  class="name">Labels</div>
                    <div  class="value">
                        <mat-chip-list aria-orientation="horizontal">
                            <div class="mat-chip-list-wrapper">
                         
                                <mat-chip>Redesign</mat-chip>
                                <mat-chip>Product</mat-chip>
                                <mat-chip>Illustration</mat-chip>
                                <mat-chip>Web Design</mat-chip>
                            </div>
                        </mat-chip-list>
                    </div>
                </div>
                <div  class="detail">
                    <div  class="name">Members</div>
                    <div  class="value" fxLayout="row">
                      
                        <div  class="member"><img matlistavatar  mattooltip="Lina Miller" src="assets/images/users/michael.jpg"></div>
                        <div  class="member"><img matlistavatar  mattooltip="Lina Miller" src="assets/images/users/bruno.jpg"></div>
                        <div  class="member"><img matlistavatar  mattooltip="Lina Miller" src="assets/images/users/adam.jpg"></div>
                    </div>
                </div>
            </div>

            <!--div  class="details" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
                <div  class="detail">
                    <div  class="name">Category</div>
                    <div  class="value">Material</div>
                </div>
                <div  class="detail">
                    <div  class="name">Departement</div>
                    <div  class="value">Material Sicence</div>
                </div>

                <div  class="detail">
                    <div  class="name">Status</div>
                    <div  class="value">Active</div>
                </div>
                <div  class="detail">
                    <div  class="name">Progress</div>
                    <div  class="value">60%</div>
                </div>
                <div  class="detail">
                    <div  class="name">Powered</div>
                    <div  class="value" fxLayout="row">
                      
                        <div  class="member"><img matlistavatar  mattooltip="Lina Miller" src="assets/images/users/michael.jpg"></div>
                        <div  class="member"><img matlistavatar  mattooltip="Lina Miller" src="assets/images/users/bruno.jpg"></div>
                        <div  class="member"><img matlistavatar  mattooltip="Lina Miller" src="assets/images/users/adam.jpg"></div>
                    </div>
                </div>
            </div-->

            <div  class="divider reverse"></div>
            <div  class="right-bottom">
                <div  class="description-title">Project Description</div>
                <div  class="description">
                    <p> Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. </p>
                    <p> Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring. </p>
                </div>
            </div>
        </div>

        <div  class="left" fxFlex.gt-sm="300px" fxFlex.gt-xs="200px" fxLayout="column">
            <div   fxLayout="row" fxLayoutAlign="end center">
                <button mat-icon-button> <mat-icon>more_horiz</mat-icon></button>
            </div>
            <div  class="codename" fxFlex="" fxLayout="column" fxLayoutAlign="start center">
                <mat-list>
                    <mat-list-item>Category: Material</mat-list-item>
                    <mat-list-item>Departement: Material Sicence</mat-list-item>
                    <mat-list-item>Status : Active</mat-list-item>
                    <mat-list-item>Progress : 60%</mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div fxLayout="column">
            <mat-card>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Goals & Tasks">
                                <mat-vertical-stepper [linear]="false" #stepper>
                                        <mat-step>
                                            <ng-template matStepLabel>
                                                   
                                                    <h3 matLine> Goal 1: Bibliograhy  </h3>
                                                    <p matLine>
                                                        
                                                        <small> 09/03/18 -  21/03/18 </small>
                                                    </p>
                                            </ng-template>

                                                <div fxLayout="row" class="p-2">
                                                        <div fxFlex="100" fxFlex.gt-md="25" fxFlex.sm="50" class="p-2"> 
                                                        <mat-card class="status-panel">            
                                                                <mat-card-header class="back-blue-dark p-2" fxLayoutAlign="space-between center">
                                                                        <mat-card-title class="m-0"><h3>IDEAS/TASKS (4)</h3></mat-card-title>
                                                                        <button mat-icon-button (click)="openTaskDialog(null)"><mat-icon>add_circle_ou...</mat-icon></button>
                                                                </mat-card-header>

                                                                <mat-card-content class="bag">
                                                                    <mat-card *ngFor="let color of colors"  class="task-card draggable" >
                                                                       <div fxLayoutAlign="space-between center">
                                                                            <p>You can move these elements between these two containers</p> 
                                                                            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
                                                                        </div>
                                                                        <div fxLayoutAlign="space-between center">
                                                                                <button mat-icon-button class="small"><mat-icon>chat</mat-icon>22</button>
                                                                                <img matlistavatar  mattooltip="Lina Miller"  src="assets/images/users/michael.jpg">
                                                                            </div>
                                                                    </mat-card>                 
                                                                </mat-card-content>          
                                                            </mat-card> 
                                                        </div>

                                                        <div fxFlex="100" fxFlex.gt-md="25" fxFlex.sm="50" class="p-2"> 
                                                            <mat-card class="status-panel">            
                                                                <mat-card-header class="back-orange p-2" fxLayoutAlign="space-between center">
                                                                    <mat-card-title class="m-0"><h3>IN PROGRESS (3)</h3></mat-card-title>
                                                                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
                                                                </mat-card-header>

                                                                <mat-card-content class="bag">
                                                                    <mat-card *ngFor="let color of colors"  class="task-card draggable ">
                                                                        You can move these elements between these two containers
                                                                    </mat-card>                 
                                                                </mat-card-content>          
                                                            </mat-card> 
                                                        </div>
                                                        <div  fxFlex="100" fxFlex.gt-md="25" fxFlex.sm="50" class="p-2"> 
                                                                <mat-card class="status-panel">            
                                                                   

                                                                    <mat-card-header class="back-blue-light p-2" fxLayoutAlign="space-between center">
                                                                            <mat-card-title class="m-0"><h3>READY FOR REVIEW</h3></mat-card-title>
                                                                            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
                                                                        </mat-card-header>

                                                                    <mat-card-content class="bag">
                                                                        <mat-card *ngFor="let color of colors"  class="task-card draggable ">
                                                                            You can move these elements between these two containers
                                                                        </mat-card>                 
                                                                    </mat-card-content>          
                                                                </mat-card> 
                                                            </div>
                                                            <div  fxFlex="100" fxFlex.gt-md="25" fxFlex.sm="50" class="p-2"> 
                                                                    <mat-card class="status-panel">            
                                                                        <mat-card-header class="back-green-light p-2" fxLayoutAlign="space-between center">
                                                                            <mat-card-title class="m-0"><h3>APPROVED </h3></mat-card-title>
                                                                            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
                                                                        </mat-card-header>


                                                                        <mat-card-content class="bag">
                                                                            <mat-card *ngFor="let color of colors"  class="task-card draggable ">
                                                                                You can move these elements between these two containers
                                                                            </mat-card>                 
                                                                        </mat-card-content>          
                                                                    </mat-card> 
                                                                </div>
                                                    </div>
                                                 
                                        </mat-step>
                                        <mat-step>
                                              
                                        <ng-template matStepLabel>Goal 2: Specification
                                        </ng-template>   
                                        </mat-step>

                                        <mat-step>
                                            <ng-template matStepLabel>Goal 3: Design & Devolopement
                                            </ng-template>
                                        </mat-step>
                                </mat-vertical-stepper>
                        </mat-tab>
                        <mat-tab label="Long Description">
                                <p class="py-1">Vestibulum dapibus ut libero at vestibulum. Donec cursus vitae leo ut bibendum. Pellentesque ac sagittis elit. 
                                    In hac habitasse platea dictumst. In sed sapien convallis, laoreet dolor at, ullamcorper eros.
                                     Vestibulum et urna vel ligula dignissim feugiat. Cras posuere eleifend nisi quis pharetra.
                                      Cras nec varius nulla. Morbi quis lacus eget tellus eleifend varius. Sed ornare imperdiet nibh,
                                       sed accumsan nisi feugiat facilisis.
                                    </p>
                        </mat-tab>
                        <mat-tab label="Attachements">
                        
                        </mat-tab>
                        <mat-tab label="Results">
                        
                        </mat-tab>
                    </mat-tab-group>
      
                </mat-card-content>
            </mat-card>
      </div>

</div>



</div>