
<div class="project-details">
<!--div  class="ng-tns-c28-32" fxlayout="column" fxlayoutgap="16px" fxlayoutgap.gt-md="24px" style="flex-direction: column; box-sizing: border-box; display: flex;">
  <div  class="splash" fxlayout="column" fxlayout.gt-sm="row" style="margin-bottom: 24px; flex-direction: row; box-sizing: border-box; display: flex;">
      <div  class="left" fxflex.gt-sm="300px" fxflex.gt-xs="200px" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 300px; max-width: 300px; min-width: 300px; background: linear-gradient(to left, rgb(203, 173, 109), rgb(213, 51, 105));">
          <div  class="ng-tns-c28-32" fxlayout="row" fxlayoutalign="end center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-end; align-items: center;">
              <button  class="options mat-icon-button" mat-icon-button="" type="button"><span class="mat-button-wrapper"><mat-icon  class="mat-icon ng-tns-c28-32 material-icons" role="img" aria-hidden="true">more_horiz</mat-icon></span>
                  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
              </button>
          </div>
          <div  class="codename" fxflex="" fxlayout="row" fxlayoutalign="center center" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 1 1 1e-09px;">
              <div  class="ng-tns-c28-32">Qyntax</div>
          </div>
      </div>
      <div  class="right" fxflex="auto" fxflex.gt-sm="" fxlayout="column" fxlayoutalign.gt-sm="space-between" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch; flex: 1 1 0%;">
          <div  class="splash-title">Project Information</div>
          <div  class="details" fxlayout="column" fxlayout.gt-sm="row" fxlayoutalign.gt-sm="space-between" fxlayoutgap="16px" fxlayoutgap.gt-md="24px" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: stretch space-between; align-items: stretch;">
              <div  class="detail" style="margin-right: 24px;">
                  <div  class="name">Project Name</div>
                  <div  class="value">Product Redesign</div>
              </div>
              <div  class="detail" style="margin-right: 24px;">
                  <div  class="name">Due Date</div>
                  <div  class="value">April 7, 2019</div>
              </div>
              <div  class="detail" style="margin-right: 24px;">
                  <div  class="name">Labels</div>
                  <div  class="value">
                      <mat-chip-list  class="mat-chip-list" tabindex="0" aria-required="false" aria-disabled="false" aria-invalid="false" aria-multiselectable="false" role="listbox" aria-orientation="horizontal" id="mat-chip-list-6">
                          <div class="mat-chip-list-wrapper">
                       
                              <mat-chip  class="mat-chip mat-primary mat-standard-chip ng-tns-c28-32 ng-star-inserted" role="option" tabindex="-1" aria-disabled="false" aria-selected="false" style="">Redesign</mat-chip>
                              <mat-chip  class="mat-chip mat-primary mat-standard-chip ng-tns-c28-32 ng-star-inserted" role="option" tabindex="-1" aria-disabled="false" aria-selected="false" style="">Product</mat-chip>
                              <mat-chip  class="mat-chip mat-primary mat-standard-chip ng-tns-c28-32 ng-star-inserted" role="option" tabindex="-1" aria-disabled="false" aria-selected="false" style="">Illustration</mat-chip>
                              <mat-chip  class="mat-chip mat-primary mat-standard-chip ng-tns-c28-32 ng-star-inserted" role="option" tabindex="-1" aria-disabled="false" aria-selected="false" style="">Web Design</mat-chip>
                          </div>
                      </mat-chip-list>
                  </div>
              </div>
              <div  class="detail">
                  <div  class="name">Members</div>
                  <div  class="value" fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
                    
                      <div  class="member ng-tns-c28-32 ng-star-inserted" style=""><img  class="ng-tns-c28-32" mattooltip="Lina Miller" aria-describedby="cdk-describedby-message-9" cdk-describedby-host="" src="assets/img/demo/avatars/1.png"></div>
                      <div  class="member ng-tns-c28-32 ng-star-inserted" style=""><img  class="ng-tns-c28-32" mattooltip="Lina Miller" aria-describedby="cdk-describedby-message-9" cdk-describedby-host="" src="assets/img/demo/avatars/2.png"></div>
                      <div  class="member ng-tns-c28-32 ng-star-inserted" style=""><img  class="ng-tns-c28-32" mattooltip="Lina Miller" aria-describedby="cdk-describedby-message-9" cdk-describedby-host="" src="assets/img/demo/avatars/3.png"></div>
                  </div>
              </div>
          </div>
          <div  class="divider reverse"></div>
          <div  class="right-bottom">
              <div  class="description-title">Project Description</div>
              <div  class="description">
                  <p  class="ng-tns-c28-32"> Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. </p>
                  <p  class="ng-tns-c28-32"> Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring. </p>
              </div>
          </div>
      </div>
  </div>
  <div  class="progress-cards" fxlayout="column" fxlayout.gt-sm="row" fxlayoutgap="16px" fxlayoutgap.gt-md="24px" style="flex-direction: row; box-sizing: border-box; display: flex;">
      <div  class="progress-card" fxflex="auto" fxflex.gt-sm="" fxlayout="row" style="margin-right: 24px; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
          <div  class="circle" fxflex="auto" fxflex.gt-sm="" style="flex: 1 1 0%; box-sizing: border-box;">
              <mat-progress-spinner  class="mat-progress-spinner mat-primary mat-progress-spinner-indeterminate-animation" mode="determinate" role="progressbar" value="78" aria-valuemin="0" aria-valuemax="100" aria-valuenow="78" style="width: 100px; height: 100px;">
                  <svg focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                      <circle cx="50%" cy="50%" r="45" class="ng-star-inserted" style="stroke-dashoffset: 62.2035px; stroke-dasharray: 282.743px; stroke-width: 10%;"></circle>
                  </svg>
              </mat-progress-spinner>
          </div>
          <div  class="progress-details" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
              <div  class="value" fxflexalign="end" style="align-self: flex-end;">6 Days</div>
              <div  class="description" fxflexalign="end" style="align-self: flex-end;">Remaining until deadline</div>
              <div  class="ng-tns-c28-32" fxflex="auto" fxflexalign="end" fxlayout="row" fxlayoutalign="end" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: stretch flex-end; align-items: stretch; flex: 1 1 auto; align-self: flex-end;">
                  <button  class="arrow mat-icon-button" fxflexalign="end" mat-icon-button="" type="button" style="align-self: flex-end;"><span class="mat-button-wrapper"><mat-icon  class="mat-icon ng-tns-c28-32 material-icons" role="img" aria-hidden="true">arrow_forward</mat-icon></span>
                      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                      <div class="mat-button-focus-overlay"></div>
                  </button>
              </div>
          </div>
      </div>
      <div  class="progress-card" fxflex="auto" fxflex.gt-sm="" fxlayout="row" style="margin-right: 24px; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
          <div  class="circle" fxflex="auto" fxflex.gt-sm="" style="flex: 1 1 0%; box-sizing: border-box;">
              <mat-progress-spinner  class="mat-progress-spinner mat-progress-spinner-indeterminate-animation mat-accent" color="accent" mode="determinate" role="progressbar" value="71" aria-valuemin="0" aria-valuemax="100" aria-valuenow="71" style="width: 100px; height: 100px;">
                  <svg focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                   
                      <circle cx="50%" cy="50%" r="45" class="ng-star-inserted" style="stroke-dashoffset: 81.9956px; stroke-dasharray: 282.743px; stroke-width: 10%;"></circle>
                  </svg>
              </mat-progress-spinner>
          </div>
          <div  class="progress-details" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
              <div  class="value" fxflexalign="end" style="align-self: flex-end;">97 Issues</div>
              <div  class="description" fxflexalign="end" style="align-self: flex-end;">Remaining till audit</div>
              <div  class="ng-tns-c28-32" fxflex="auto" fxflexalign="end" fxlayout="row" fxlayoutalign="end" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: stretch flex-end; align-items: stretch; flex: 1 1 auto; align-self: flex-end;">
                  <button  class="arrow mat-icon-button" fxflexalign="end" mat-icon-button="" type="button" style="align-self: flex-end;"><span class="mat-button-wrapper"><mat-icon  class="mat-icon ng-tns-c28-32 material-icons" role="img" aria-hidden="true">arrow_forward</mat-icon></span>
                      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                      <div class="mat-button-focus-overlay"></div>
                  </button>
              </div>
          </div>
      </div>
      <div  class="progress-card" fxflex="auto" fxflex.gt-sm="" fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
          <div  class="circle" fxflex="auto" fxflex.gt-sm="" style="flex: 1 1 0%; box-sizing: border-box;">
              <mat-progress-spinner  class="mat-progress-spinner mat-progress-spinner-indeterminate-animation mat-warn" color="warn" mode="determinate" role="progressbar" value="89" aria-valuemin="0" aria-valuemax="100" aria-valuenow="89" style="width: 100px; height: 100px;">
                  <svg focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                      <circle cx="50%" cy="50%" r="45" class="ng-star-inserted" style="stroke-dashoffset: 31.1018px; stroke-dasharray: 282.743px; stroke-width: 10%;"></circle>
                  </svg>
              </mat-progress-spinner>
          </div>
          <div  class="progress-details" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
              <div  class="value" fxflexalign="end" style="align-self: flex-end;">2 Tasks</div>
              <div  class="description" fxflexalign="end" style="align-self: flex-end;">Left until next milestone</div>
              <div  class="ng-tns-c28-32" fxflex="auto" fxflexalign="end" fxlayout="row" fxlayoutalign="end" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: stretch flex-end; align-items: stretch; flex: 1 1 auto; align-self: flex-end;">
                  <button  class="arrow mat-icon-button" fxflexalign="end" mat-icon-button="" type="button" style="align-self: flex-end;"><span class="mat-button-wrapper"><mat-icon  class="mat-icon ng-tns-c28-32 material-icons" role="img" aria-hidden="true">arrow_forward</mat-icon></span>
                      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                      <div class="mat-button-focus-overlay"></div>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div-->

<div fxLayout="column" class="p-2">
        <div class="p-2">
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-subtitle><h2>Basic tabs</h2></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Tab 1">
                                <mat-vertical-stepper [linear]="false" #stepper>
                                        <mat-step>


                                                <div fxLayout="row" class="p-2">
                                                        <div fxFlex="25" class="p-2">
                                                            <mat-card class="mat-elevation-z0">            
                                


                                                                <mat-card-content  class="bag">

                                                                    <mat-card class="blue tile p-2 "  fxLayoutAlign="space-between center">
                                                                        <h2>IDEAS/TASKS</h2>  
                                                                        <button mat-icon-button (click)="openTaskDialog(null)"><mat-icon>add_circle_ou...</mat-icon></button>                       
                                                                    </mat-card>
                                                                            
                                                                    <mat-card *ngFor="let color of colors" [class.bg-primary]="color=='primary'" [class.bg-accent]="color=='accent'" 
                                                                    [class.bg-warn]="color=='warn'" class="task-card draggable ">
                                                                    <mat-card-header class="mat-card-header">
                                                                            <img class="mat-card-avatar" matcardavatar src="assets/images/users/user.jpg">
                                                                            <div class="mat-card-header-text">
                                                                                <mat-card-title class="mat-card-title">Preparation poude zeide from NAOH</mat-card-title>
                                                                                <mat-card-subtitle class="mat-card-subtitle">12/04 - 14/04</mat-card-subtitle>
                                                                            </div>
                                                                            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
                                                                      </mat-card-header>
                                                                      <mat-divider></mat-divider>
                                                                      <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">                               
                                                                          <button mat-icon-button><mat-icon>mode_comment</mat-icon></button>
                                                            
                                                                      </mat-card-actions>
                                                                    </mat-card>                 
                                                                </mat-card-content>           
                                                            </mat-card> 
                                                        </div>
                                                        <div fxFlex="25" class="p-2"> 
                                                            <mat-card>            
                                                                <mat-card-header fxLayoutAlign="center">
                                                                    <mat-card-subtitle fxLayoutAlign="center">
                                                                        <h2>IN PROGRESS</h2> 
                                                                    </mat-card-subtitle>
                                                                </mat-card-header>
                                                                <mat-card-content class="bag">
                                                                    <mat-card *ngFor="let color of colors"  [class.bg-primary]="color=='primary'" [class.bg-accent]="color=='accent'" [class.bg-warn]="color=='warn'"  class="task-card draggable ">
                                                                        You can move these elements between these two containers
                                                                    </mat-card>                 
                                                                </mat-card-content>          
                                                            </mat-card> 
                                                        </div>
                                                        <div fxFlex="25" class="p-2"> 
                                                                <mat-card>            
                                                                    <mat-card-header fxLayoutAlign="center">
                                                                        <mat-card-subtitle fxLayoutAlign="center">
                                                                            <h2>READY FOR REVIEW</h2> 
                                                                        </mat-card-subtitle>
                                                                    </mat-card-header>
                                                                    <mat-card-content class="bag">
                                                                        <mat-card *ngFor="let color of colors"  [class.bg-primary]="color=='primary'" [class.bg-accent]="color=='accent'" [class.bg-warn]="color=='warn'"  class="task-card draggable ">
                                                                            You can move these elements between these two containers
                                                                        </mat-card>                 
                                                                    </mat-card-content>          
                                                                </mat-card> 
                                                            </div>
                                                            <div fxFlex="25" class="p-2"> 
                                                                    <mat-card>            
                                                                        <mat-card-header fxLayoutAlign="center">
                                                                            <mat-card-subtitle fxLayoutAlign="center">
                                                                                <h2>APPROVED</h2> 
                                                                            </mat-card-subtitle>
                                                                        </mat-card-header>
                                                                        <mat-card-content class="bag">
                                                                            <mat-card *ngFor="let color of colors"  [class.bg-primary]="color=='primary'" [class.bg-accent]="color=='accent'" [class.bg-warn]="color=='warn'"  class="task-card draggable ">
                                                                                You can move these elements between these two containers
                                                                            </mat-card>                 
                                                                        </mat-card-content>          
                                                                    </mat-card> 
                                                                </div>
                                                    </div>
                                                 
                                        </mat-step>
                                        <mat-step>
                                                 
                                        </mat-step>
                                        <mat-step>
                                                  
                                        </mat-step>
                                </mat-vertical-stepper>
                        </mat-tab>
                        <mat-tab label="Tab 2">
                                <p class="py-1">Vestibulum dapibus ut libero at vestibulum. Donec cursus vitae leo ut bibendum. Pellentesque ac sagittis elit. 
                                    In hac habitasse platea dictumst. In sed sapien convallis, laoreet dolor at, ullamcorper eros.
                                     Vestibulum et urna vel ligula dignissim feugiat. Cras posuere eleifend nisi quis pharetra.
                                      Cras nec varius nulla. Morbi quis lacus eget tellus eleifend varius. Sed ornare imperdiet nibh,
                                       sed accumsan nisi feugiat facilisis.
                                    </p>
                        </mat-tab>
                    </mat-tab-group>
      
                </mat-card-content>
            </mat-card>
        </div>
      </div>

</div>