<div fxLayout="row wrap" fxLayoutAlign="center center">

        <div  fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">    
    

        <mat-card class="example-card">

                <mat-card-header>
        
                 
                        <mat-card-title class="mat-card-title">Gerald Morris</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">Yesterday</mat-card-subtitle>
                        <mat-list-item><mat-icon>person</mat-icon>Dr. Imed Romdhani</mat-list-item>
                        <mat-list-item><mat-icon>mail_outline</mat-icon>emilio.verdines@gmail.com</mat-list-item>
                        <mat-list-item><mat-icon>call</mat-icon>(212) 457-2308</mat-list-item>
                        <mat-list-item><mat-icon>date_range</mat-icon> 21/09/03/18</mat-list-item>
                       
                   
              </mat-card-header>
           
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content class="mat-card-content">
                  <button color="warn" mat-fab mat-fab-card-float>
                     <mat-icon  class="mat-icon material-icons" role="img" aria-hidden="true">share</mat-icon>
                  </button>
                      <p  class="ma-0">Phileas Fogg and Aouda went on board, where they found Fix already installed. Below deck was a square cabin, 
                          of which the walls bulged out in the form of cots, above a circular divan; in the centre was a table provided with a swinging lamp.</p>
              </mat-card-content>
              <mat-card-actions class="mat-card-actions">
                  <div fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
                      <button mat-icon-button><mat-icon>favorite</mat-icon></button>
                      <button mat-icon-button><mat-icon>share</mat-icon></button>
                      <span fxflex style="flex: 1 1 0%; box-sizing: border-box;"></span>
                      <button mat-button>More info</button>
                      <button mat-button>Download</button>
                  </div>
              </mat-card-actions>
          </mat-card>

        </div>

        <div  fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">  
            
                <mat-card class="project-card">
                        <mat-card-header class="mat-card-header">
                            
                                <div class="mat-card-header-text">
                                    <mat-card-title class="mat-card-title">Interplay between crystallization kinetics and molecular</mat-card-title>
                                   
                                    <mat-list class="project-header-properties">

                                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                                    <mat-list-item><mat-icon>person</mat-icon>Dr. Imed Romdhani</mat-list-item>
                                                    <mat-list-item><mat-icon>mail_outline</mat-icon>emilio.verdines@gmail.com</mat-list-item>
                                            </div> 
                                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                                    <mat-list-item><mat-icon>call</mat-icon>(212) 457-2308</mat-list-item>
                                                    <mat-list-item> <mat-icon>date_range</mat-icon> 21/09/03/18</mat-list-item>
                                            </div> 
                             
                                       
                                    
                                    </mat-list>
                                    <mat-divider></mat-divider>
                                </div>
                        </mat-card-header>
                        <mat-card-content>
                                <p class="secondary-text-color mt-2" style="padding:5px;">  <span class="highlight">Abstract:</span> This PhD project will focus on the investigation of the crystallization kinetics of several organic molecules (from low molecular weight compounds to polymers),
                                     by means of broadband dielectric spectroscopy. The aim of this research is to unveil the correlation between the relaxation processes active during crystallization and the molecular mechanisms responsible for the formation of ordered structures
                                </p>
                                <mat-chip-list>
                                        <mat-chip>Polymer</mat-chip>
                                        <mat-chip>Soft Matter</mat-chip>
                                        <mat-chip>Dynamics</mat-chip>
                                        <mat-chip>Accent fish</mat-chip>
                                </mat-chip-list>
                               
                                <mat-progress-bar style="margin-top: 5px;" mode="determinate" value="40"></mat-progress-bar>
                                <button color="warn" mat-fab mat-fab-card-float>
                                        <mat-icon  class="mat-icon material-icons" role="img" aria-hidden="true">share</mat-icon>
                                     </button>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <button mat-icon-button color="accent"><mat-icon>fiber_manual_record</mat-icon>6 To Dos</button>
                                        <button mat-icon-button color="accent"><mat-icon>fiber_manual_record</mat-icon>6 To Dos</button>
                                </div> 

                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <button mat-icon-button color="accent"><mat-icon>fiber_manual_record</mat-icon>6 To Dos</button>
                                        <button mat-icon-button color="accent"><mat-icon>fiber_manual_record</mat-icon>6 To Dos</button>
                                </div> 

                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <button mat-icon-button color="accent"><mat-icon>fiber_manual_record</mat-icon>6 To Dos</button>
                                        <button mat-icon-button color="accent"><mat-icon>fiber_manual_record</mat-icon>6 To Dos</button>
                                </div> 

                              

                              


                            </mat-card-content>
                       
                        <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">                               
                            <button mat-icon-button><mat-icon>favorite</mat-icon></button>
                            <button mat-icon-button><mat-icon>share</mat-icon></button>
                                <button  [routerLink]="['.', 1]" mat-button>View</button>
                        </mat-card-actions>


                           
                    </mat-card> 

        </div>
</div>