<div fxLayout="row wrap" fxLayoutAlign="center center">
        <div  fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">    
    
                <mat-card class="testimonial-item">
                        <div class="user-card">
                            <img src="assets/images/users/user.jpg" alt="image" class="mat-elevation-z2">
                        
                            <h3>Abdessalem SAMET</h3>    
                            <i>Chef officier Bayer</i>    
                        </div>
                       <div fxLayout="row" fxLayoutAlign="center center" class="py-2 card-location">
                            <mat-icon class="mr-2">location_on</mat-icon>
                            <i>Los Anglos, USA</i>
                        </div>
                        <mat-list class="properties">
                                <mat-list-item><mat-icon>mail_outline</mat-icon>emilio.verdines@gmail.com</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item><mat-icon>call</mat-icon>(212) 457-2308</mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item><mat-icon>language</mat-icon>www.advanced.it.com</mat-list-item>
                         </mat-list>
        
                         <button class="btn-custom" mat-raised-button>  <mat-icon>thumb_up</mat-icon> <span class="text">@webdevoloper</span></button>
        
                    </mat-card>
        </div>
        <div  fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">    
    

    <mat-card class="example-card">                   
        <img mat-card-image src="assets/images/projects/project1.jpg" alt="image">
        <mat-card-content>
            <h3>Project 1</h3>
            <p class="secondary-text-color mt-2">Phileas Fogg and Aouda went on board, where they found Fix already installed. Below deck was a square cabin, 
                    of which the walls bulged out in the form of cots, above a circular divan; in the centre was a table provided with a swinging lamp.</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">                               
            <button mat-icon-button><mat-icon>favorite</mat-icon></button>
            <button mat-icon-button><mat-icon>share</mat-icon></button>
        </mat-card-actions>
    </mat-card>


        </div>
   
   
        <div  fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">    
    
                <mat-card class="example-card">                   
                    <img mat-card-image src="assets/images/projects/project1.jpg" alt="image">
                    <mat-card-content>
                        <h3>Project 1</h3>
                        <p class="secondary-text-color mt-2">Phileas Fogg and Aouda went on board, where they found Fix already installed. Below deck was a square cabin, 
                                of which the walls bulged out in the form of cots, above a circular divan; in the centre was a table provided with a swinging lamp.</p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">                               
                        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
                        <button mat-icon-button><mat-icon>share</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            
            
                    </div>
               
               
   
   
        <div  fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">    



<mat-card class="example-card">

      <mat-card-header class="mat-card-header">
          <img class="mat-card-avatar" matcardavatar src="assets/images/users/user.jpg">
          <div class="mat-card-header-text">
              <mat-card-subtitle class="mat-card-subtitle">Yesterday</mat-card-subtitle>
              <mat-card-title class="mat-card-title">Gerald Morris</mat-card-title>
          </div>
    </mat-card-header>
 
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="mat-card-content">
        <button color="warn" mat-fab mat-fab-card-float>
           <mat-icon  class="mat-icon material-icons" role="img" aria-hidden="true">share</mat-icon>
        </button>
            <p  class="ma-0">Phileas Fogg and Aouda went on board, where they found Fix already installed. Below deck was a square cabin, 
                of which the walls bulged out in the form of cots, above a circular divan; in the centre was a table provided with a swinging lamp.</p>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
        <div fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
            <button mat-icon-button><mat-icon>favorite</mat-icon></button>
            <button mat-icon-button><mat-icon>share</mat-icon></button>
            <span fxflex style="flex: 1 1 0%; box-sizing: border-box;"></span>
            <button mat-button>More info</button>
            <button mat-button>Download</button>
        </div>
    </mat-card-actions>
</mat-card>
  
</div>
<div  fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">    



  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  

  </div>
</div>