<div fxLayout="row wrap" fxLayoutAlign="center center">
        <div  fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="100" class="p-2">  
            
                <mat-card class="project-card">
                        <mat-card-header class="mat-card-header">
                                <img src="assets/images/projects/molecules-mini.jpg">
                                <div class="mat-card-header-text">
                                    <mat-card-title class="mat-card-title">Interplay between crystallization kinetics and molecular</mat-card-title>
                                    <mat-list class="project-header-properties">
                                        <mat-list-item><mat-icon>person</mat-icon>Dr. Imed Romdhani</mat-list-item>
                                        <mat-list-item><mat-icon>mail_outline</mat-icon>emilio.verdines@gmail.com</mat-list-item>
                                        <mat-list-item><mat-icon>call</mat-icon>(212) 457-2308</mat-list-item>
                                        <mat-list-item><mat-icon>date_range</mat-icon> 21/09/03/18</mat-list-item>
                                    </mat-list>
                                </div>
                        </mat-card-header>
                        <mat-card-content>
                                <div fxLayout="row" fxLayoutAlign="center center" class="py-2 card-project-departement">
                                        <mat-icon class="mr-2">location_on</mat-icon>
                                        <i>Los Anglos, USA</i>
                                    </div>
                                <p class="secondary-text-color mt-2" style="padding:5px;">  <span class="highlight">Abstract:</span> This PhD project will focus on the investigation of the crystallization kinetics of several organic molecules (from low molecular weight compounds to polymers),
                                     by means of broadband dielectric spectroscopy. The aim of this research is to unveil the correlation between the relaxation processes active during crystallization and the molecular mechanisms responsible for the formation of ordered structures
                                </p>
                                <mat-chip-list>
                                        <mat-chip>Polymer</mat-chip>
                                        <mat-chip>Soft Matter</mat-chip>
                                        <mat-chip>Dynamics</mat-chip>
                                        <mat-chip>Accent fish</mat-chip>
                                </mat-chip-list>
                            </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">                               
                            <button mat-icon-button><mat-icon>favorite</mat-icon></button>
                            <button mat-icon-button><mat-icon>share</mat-icon></button>
                                <button mat-button>View</button>
                        </mat-card-actions>


                           
                    </mat-card> 

        </div>
</div>