<nav class="navbar navbar-expand-lg fixed-top">
 
   <a class="navbar-brand navbar-left app-brand" href="#"> 
        <span class="big-text">3C</span> 
         <span class="small-text">COLLABORATE, COMMUNICATE, CONTROL</span> 
        </a>
    
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
                  <span class="navbar-toggler-icon"></span> 
                    <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="navbar-right collapse navbar-collapse">

         
        <ul class="navbar-nav ml-auto">
             
                <li class="nav-item pr-5">

                    <div class="input-group custom-search">
                            <input class="form-control rounded-pill py-2 pr-5 mr-1" type="text" placeholder="Search...">
                            <span class="input-group-append">
                               <div class="input-group-text border-0 bg-transparent ml-n5"><i class="fa fa-search"></i></div>
                            </span>
                    </div>
                </li>
        
            <li class="nav-item dropdown padding-caret" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">
                        Pending Task <span class="badge badge-info">6</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        In queue <span class="badge badge-info"> 13</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                       Mail <span class="badge badge-info"> 45</span>
                    </a>
                    <!--li class="dropdown-divider"></li-->
                    <a href="javascript:void(0)" class="dropdown-item">
                       View All
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link nav-user" ngbDropdownToggle>
                        <img alt="..." class="img-circle img-mm mr-2" src="../../../assets/images/100_7.jpg">
                    {{userInfo?.lastName}} {{userInfo?.firstName}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> Inbox
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> Settings
                    </a>
                    <a class="dropdown-item" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> Log Out
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
