
        <div class="page-header  p-3 justify-content-center">
            <h3> New Project </h3>
        </div>

      
        <div class="container-fluid">

            <div class="d-flex flex-row-reverse">
                <button class="mt-3 btn btn-success btn-b" type="button">
                    <b><i class="fa fa-history"></i></b> Go Back
               </button>
             </div>
          
             <div class="sub-content blank-background container-fluid mt-3">

                    <form [formGroup]="form">

                        
                    <div class="row  pb-3 text-center">
                        <div *ngIf="serverError" class="col-md-12 text-danger">{{serverError}}</div>
                    </div>
            

                    <div class="form-row">
                                <div class="form-group  col-md-4">
                                    <label for="inputAddress">Project Logo</label>
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="uploadFile($event.target.files)" />
                                            <label for="imageUpload"></label>
                                        </div>
                                        <div class="avatar-preview m-auto">
                                            <img *ngIf="imageURL" [src]="imageURL" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label> Name</label>
                                        <input type="text"  formControlName="name" class="form-control" placeholder="Name">
                                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                            <div class="form-group  col-md-9">
                                                    <label >Modules</label>
                                                    <select formControlName="departmentId" class="form-control">
                                                        <option [disabled]="departments?.length === 1"  *ngFor="let dep of departments"  [ngValue]="dep.departmentId">{{dep.name}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.departmentId.errors" class="text-danger">
                                                        <div *ngIf="f.departmentId.errors.required">Departmenent is required</div>
                                                    </div>
                                            </div>
                                            <div class="form-group  col-md-3">
                                                <label>Type</label>
                                                <select formControlName="type" class="form-control">
                                                    <option disabled>Choose...</option>
                                                    <option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</option>
                                                </select>
                                                <div *ngIf="submitted && f.type.errors" class="text-danger">
                                                    <div *ngIf="f.type.errors.required">Type is required</div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="form-row">
                                            <div class="form-group  col-md-9">
                                                <ng-select formControlName="keywords"
                                                            [addTag]="addkeyword"
                                                            [multiple]="true"
                                                            [selectOnTab]="true"
                                                            [isOpen]="false">
                                                </ng-select>
                                                <div *ngIf="submitted && f.keywords.errors" class="text-danger">
                                                        <div *ngIf="f.keywords.errors.required">Keywords is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                </div>      

                    </div>

                

        

                    <div class="form-group">
                        <label for="description">Abstract</label>
                        <ckeditor  [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                              class="abstract"  [editor]="Editor" formControlName="shortDescription" >
                        </ckeditor>
                        <div *ngIf="submitted && f.shortDescription.errors" class="text-danger">
                            <div *ngIf="f.shortDescription.errors.required">Abstract is required</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Start Date</label>
                            <div class="input-group datepicker-input">
                                <input class="form-control"    dateFormat="dd-MMM-yyyy" placeholder="yyyy-mm-dd" name="dps" formControlName="startDate" ngbDatepicker #s="ngbDatepicker">
                                <button class="input-group-addon" (click)="s.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="launchDate">Due Date</label>
                            <div class="input-group datepicker-input">
                                <input class="form-control"    dateFormat="dd-MMM-yyyy" placeholder="yyyy-mm-dd" name="dpe" formControlName="endDate" ngbDatepicker #e="ngbDatepicker">
                                <button class="input-group-addon" (click)="e.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                    
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <ckeditor class="description"  [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                                [editor]="Editor" formControlName="description" >
                        </ckeditor>
                        <div *ngIf="submitted && f.description.errors" class="text-danger">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                        </div>
                    </div>

                    
                    <div class="input-group center">
                        <button *ngIf="!project.projectId" class="btn btn-success btn-round" (click)="save()">CREATE <i class="fa fa-plus"></i></button>
                        <button *ngIf="!!project.projectId" class="btn btn-success btn-round" (click)="update()">UPDATE <i class="fa fa-plus"></i></button>
                    </div>
                    </form>
       
             </div>
       
        </div>
   
