/* You can add global styles to this file, and also import other style files */

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@import "~@ng-select/ng-select/themes/ant.design.theme.css";

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


body { margin: 0; }

.back-orange{
	background-color: #F39500;
	color: #FFF;
} 

.back-blue-light{
	background-color: #21A0D2;
	color: #FFF;
} 

.back-green-light{
	background-color: #65AC1E;
	color: #FFF;
} 

.back-red{
	background-color: #C50022;
	color: #FFF;
} 

.back-blue-dark{
	background-color: #004A96;
	color: #FFF;
}

.back-green-dark{
	background-color: #00793A;
	color: #FFF;
}

.back-grey-dark{
	background-color: #7C7C7C;
	color: #FFF;
}


.orange{
	color: #F39500;
} 

.blue-light{
	color: #21A0D2;
} 

.green-light{
	color: #65AC1E;
} 

.red{
	color: #C50022;
} 

.blue-dark{
	color: #004A96;
}

.green-dark{
	color: #00793A;
}

.grey-dark{
	color: #7C7C7C;
}
