<div class="flex-container">
        <div class="left-side">
            <div class="sid-layy">
                <div class="container">
                    <div class="row">
                          <div class="col-sm-12">
                              <h2>Manage Your orders</h2>
                              <p>
                                Add captions to your slides easily with the .carousel-caption element within any .carousel-item.
                                They can be easily hidden on smaller viewports, as shown below, with optional display utilities.
                                We hide them initially with .d-none and bring them back on medium-sized devices.
                              </p>
    
                          </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="container mt-5">
                <div class="row mt-3 login-box">
                    <div class="col-sm-12">
                          <div class="small-logo"><i class="fa fa-graduation-cap"></i> PPMS Sign UP </div>
                          <p class="login-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Sed pharetra ut dui in dictum. </p>
                        
                      </div>
                </div>
                <div class="row mt-5">
                    <p class="forget-p">Do you have an account? <span [routerLink]="['../login']">Sign In Now</span></p>
                </div>
    
                <hr align="center" width="80%">
    
             </div>
       </div>
    </div>
    